.microtask-holder(ng-class='{"microtask-active": !dmFinished}')
    .microtask-col
        .microtask-img
            img(ng-src='{{taskImage}}')

    .microtask-content 
        .microtask-desc(marked='dmText')
        .microtask-user 
            img(src="static/images/microtask/mt_user.png") 
            img(src="static/images/microtask/mt_user.png") 
            img(src="static/images/microtask/mt_user.png") 
            span.microtask-user-amount +2
            span.microtask-user-done
                | 10 znajomych zrobiło zadanie
.microtask-border-up
.microtask-border-down
