.dm-event-task-details {

  .menu-loader {
    padding: 50px;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
  }

  position: relative;
}
