.col-md-12
    h1 Hello Waves
    dm-wavesurfer(dm-src='select.soundTitle', dm-start-second='select.startSecond', dm-current-second='select.currentSecond')
.col-md-12
    select.form-control(ng-model='select.soundTitle', ng-options='sound for sound in sounds')
    select.form-control(ng-model='select.recordingTitle', ng-options='recording.title group by recording.group for recording in recordings')
