.col-md-12
    h1 Abonament
    h5
        | Przygotowujemy dostęp do materiałów na platformie w dwóch trybach: płatność za konkretny kurs
        | oraz abonament miesięczny, który umożliwi dostęp do wszystkich kursów.

    h5
        | Jaki będzie koszt abonamentu?
    span
        | Miesięczna cena dostępu do wszystkich materiałów na platformie będzie wyności 30 PLN z VAT.
        | Przy płatności za cały rok z góry 250 PLN z VAT.

    h5
        | Ile nowych materiałów będzie przygotowywanych?
    span 
        | Planujemy przygotowywać ok. 4-6 nowych tematów w miesiącu. Czas trwania kazdego tematu ok. 1.5h,
        | tak wiec mozecie sie spodziewac ok. 9 godzin tresciwych prezentacji miesiecznie razem z wszystkimi
        | przykladami gotowymi do samodzielnej zabawy na xplatform.org.

    h5
        | Od kiedy będą dostępne abonamenty?
    span
        | Na aktualnym etapie zbieramy Wasze deklaracje. Dostęp abonamentowy będzie uruchomiony we wrześniu.
        | Osoby, które zadeklarują teraz chęc wykupienia abonamentu poinformujemy mailem o starcie.
