.editor {
  height: 240px;
  background-color: #272822;
}
.editor.ace_editor {
  font-size: 14px;
}
.editor .ace_gutter {
  opacity: 0.3;
}
.editor-xs {
  height: 140px;
}
.editor-sm {
  height: 200px;
}
.editor-md {
  height: 280px;
}
.editor-lg {
  height: 350px;
}
.editor-xl {
  height: 450px;
}
.editor-xxl {
  height: 800px;
}
.errors:empty {
  display: none;
}