table {
    background-color: rgba(0,0,0,0);
}

// TODO [ToDr] I cannot use styles in "text" plugin - so fallback here.
.margin-top-20 {
	margin-top: 20%;
}

.text-special {
  color: #aa2;
}

// @import 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';


@import 'fonts.less';
@import 'variables.less';
@import 'main-classes.less';
@import 'splitter.less';
@import 'admin.less';
@import 'scrollbar.less';
@import 'cloak.less';
@import 'layout.less';
@import 'login.less';
