/* --------------------------------------  FONTS  */
/* --------------------- Open Sans */
/* ----- light */
@font-face {
    font-family: 'Open Sans';
    font-weight:300;
    font-style:normal;
    src:url("@{xpla-font-path}/opensans/eot/OpenSans-Light.eot");
    src:local('☺'),
    url("@{xpla-font-path}/opensans/eot/OpenSans-Light.eot?#iefix") format('embedded-opentype'),
    url("@{xpla-font-path}/opensans/woff/OpenSans-Light.woff") format('woff'),
    url("@{xpla-font-path}/opensans/ttf/OpenSans-Light.ttf") format('truetype'),
    url("@{xpla-font-path}/opensans/svg/OpenSans-Light.svg#OpenSansLight") format('svg');
}

// /* ----- normal */
// @font-face {
//     font-family: 'Open Sans';
//     font-weight:400;
//     font-style:normal;
//     src:url("@{xpla-font-path}/opensans/eot/OpenSans-Regular.eot");
//     src:local('☺'),
//     url("@{xpla-font-path}/opensans/eot/OpenSans-Regular.eot?#iefix") format('embedded-opentype'),
//     url("@{xpla-font-path{/opensans/woff/OpenSans-Regular.woff") format('woff'),
//     url("@{xpla-font-path}/opensans/ttf/OpenSans-Regular.ttf") format('truetype'),
//     url("@{xpla-font-path}/opensans/svg/OpenSans-Regular.svg#OpenSansRegular") format('svg');
// }
@font-face {
    font-family: 'Open Sans';
    font-weight:600;
    font-style:normal;
    src:url("@{xpla-font-path}/opensans/eot/OpenSans-Semibold.eot");
    src:local('☺'),
    url("@{xpla-font-path}/opensans/eot/OpenSans-Semibold?#iefix") format('embedded-opentype'),
    url("@{xpla-font-path}/opensans/woff/OpenSans-Semibold.woff") format('woff'),
    url("@{xpla-font-path}/opensans/ttf/OpenSans-Semibold.ttf") format('truetype'),
    url("@{xpla-font-path}/opensans/svg/OpenSans-Semibold.svg#OpenSansSemibold") format('svg');
}
