/* --------------------------------------  FONTS  */
/* --------------------- Open Sans */
/* ----- normal */
@font-face {
    font-family: 'Open Sans';
    font-weight:400;
    font-style:normal;
    src:url('../css/font/opensans/eot/OpenSans-Regular.eot');
    src:local('☺'),
    url('../css/font/opensans/eot/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../css/font/opensans/woff/OpenSans-Regular.woff') format('woff'),
    url('../css/font/opensans/ttf/OpenSans-Regular.ttf') format('truetype'),
    url('../css/font/opensans/svg/OpenSans-Regular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-weight:600;
    font-style:normal;
    src:url('../css/font/opensans/eot/OpenSans-Semibold.eot');
    src:local('☺'),
    url('../css/font/opensans/eot/OpenSans-Semibold?#iefix') format('embedded-opentype'),
    url('../css/font/opensans/woff/OpenSans-Semibold.woff') format('woff'),
    url('../css/font/opensans/ttf/OpenSans-Semibold.ttf') format('truetype'),
    url('../css/font/opensans/svg/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-weight:700;
    font-style:normal;
    src:url('../css/font/opensans/eot/OpenSans-Bold.eot');
    src:local('☺'),
    url('../css/font/opensans/eot/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../css/font/opensans/woff/OpenSans-Bold.woff') format('woff'),
    url('../css/font/opensans/ttf/OpenSans-Bold.ttf') format('truetype'),
    url('../css/font/opensans/svg/OpenSans-Bold.svg#OpenSansBold') format('svg');
}