.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text-line-through {
	text-decoration: line-through;
}





/* ---------- COLOURS TEXT ---------- */
/* ----- BLUE/CELADON - primary */
/* ----- RED - danger */
/* ----- GREEN - success */
/* ----- GRAY - info */

.text-primary,
.text-primary:hover {
	color: @color-blue80;
}

.text-danger,
.text-danger:hover {
	color: @color-red84;
}

.text-success,
.text-success:hover {
	color: @color-green70;
}

.text-info,
.text-info:hover {
	color: @color-gray90;
}

.alert-danger {
  color: #b94a48;
}




/* ---------- COLOURS LINKS ---------- */
a.text-primary {
	color: @color-blue80;
}
a.text-primary:hover {
	color: @color-blue98;
}


a.text-danger {
	color: @color-red84;
}
a.text-danger:hover {
	color: @color-red100;
}


a.text-success {
	color: @color-green70;
}
a.text-success:hover {
	color: @color-green89;
}


a.text-info {
	color: @color-gray90;
}
a.text-info:hover {
	color: @color-gray60;
}


a.text-primary:hover, 
a.text-danger:hover,
a.text-success:hover,
a.text-info:hover,
.btn-primary,
.btn-danger,  
.btn-success,
.btn-default {
	-webkit-transition: @href-animation02;
	transition: all @href-animation02;
	text-decoration: none;
}




/* ---------- COLOURS BUTTON ---------- */



.btn-primary {
	background-color: @color-blue80; 
	border-color: @color-blue80;
	color: @color-white100;
}
.btn-danger  {
	background-color: @color-red84;
	border-color: @color-red84;
	color: @color-white100;
}
.btn-success {
	background-color: @color-green70;
	border-color: @color-green70;
	color: @color-white100;
}
.btn-default {
	background-color: @color-gray36;
	border-color: @color-gray36;
	color: @color-white100;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.open .dropdown-toggle.btn-default {
  color: @color-white100;
  background-color: @color-gray60;
  border-color: @color-gray60;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.open .dropdown-toggle.btn-danger {
  color: @color-white100;
  background-color: @color-red100;
  border-color: @color-red100;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: @color-white100;
  background-color: @color-green89;
  border-color: @color-green89;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
  color: @color-white100;
  background-color: @color-blue98;
  border-color: @color-blue98;
}

