html.performance-anims {
  *, * > * {
    opacity: 1.0 !important;
    transition: none !important;
  }
}
html.performance-shadows {
  *, *>* {
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

