::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 0 0 20px rgba(0,0,0,0.3);
    background-color:#fff;
    border-radius:2.0px;
    cursor:pointer;
}

::-webkit-scrollbar {
    height:6px;
    width:6px;
}

.ngsb-wrap {
  &:hover {
    .ngsb-scrollbar {
      opacity: 1.0 !important;
    }
  }

  .ngsb-scrollbar {
    opacity: 0.0 !important;
    transition: opacity .5s ease;
    transition-delay: .6s;
  }
}
