@components: '../components';
@plugins: '../dm-plugins';
@modules: '../dm-modules';

@import '@{components}/font-awesome/css/font-awesome.css';
@import '@{components}/angular-hotkeys/build/hotkeys.css';
@import '@{components}/bootstrap/dist/css/bootstrap.css';
@import '@{components}/json-edit/css/styles.css';
@import '../css/bootstrap-cyborg.css';

@import "base.less";
@import "performance.less";

@import '../dm-xplatform/dm-xplatform-app.less';
@import '../dm-admin/dm-admin-app.less';


@import '@{modules}/dm-wavesurfer/dm-wavesurfer.less';
@import '@{modules}/dm-editor/dm-editor.less';

@import '@{plugins}/deck-navbar/deck-navbar.less';
@import '@{plugins}/deck-slides/deck-slides.less';
@import '@{plugins}/slide.sidebar-microtasks/microtasks.less';
@import '@{plugins}/slide.edit-editor/slide.edit-editor.less';
@import '@{plugins}/slide-code/slide-code.less';
@import '@{plugins}/trainer.deck-notes/trainer.deck-notes.less';
@import '@{plugins}/trainer.deck-nextslide/trainer.deck-nextslide.less';
@import '@{plugins}/slide-live-save/slide-live-save.less';
@import '@{plugins}/slide-workspace/slide-workspace.less';
@import '@{plugins}/slide-burger/slide-burger.less';


