@plugins: '../dm-plugins';
@modules: '../dm-modules';

@import (inline) '../jspm_packages/github/chieffancypants/angular-hotkeys@1.4.5/src/hotkeys.css';
@import (inline) '../jspm_packages/github/mb21/JSONedit@0.2.1/css/styles.css';
@import '../jspm_packages/github/wix/angular-tree-control@0.2.9/css/tree-control.css';

@import '../components/bootstrap/less/bootstrap.less';
@icon-font-path: '../components/bootstrap/fonts/';

@import '../jspm_packages/npm/font-awesome@4.3.0/less/font-awesome.less';
@fa-font-path: '../jspm_packages/npm/font-awesome@4.3.0/fonts';

@import './theme.less';
@import './theme-bootswatch.less';

@import "base.less";
@import "performance.less";

@import '../dm-xplatform/dm-xplatform-app.less';
@import '../dm-admin/dm-admin-app.less';
@impor '../dm-xplayer/dm-xplayer.less';

@import '@{modules}/dm-wavesurfer/dm-wavesurfer.less';
@import '@{modules}/dm-editor/dm-editor.less';
@import '@{modules}/dm-history/dm-history.less';
@import '@{modules}/dm-online/dm-online.less';

@import '@{plugins}/deck-navbar/deck-navbar.less';
@import '@{plugins}/deck-slides/deck-slides.less';
@import '@{plugins}/slide-microtasks/microtasks.less';
@import '@{plugins}/slide.edit-editor/slide.edit-editor.less';
@import '@{plugins}/slide-code/slide-code.less';
@import '@{plugins}/trainer.deck-notes/trainer.deck-notes.less';
@import '@{plugins}/trainer.deck-nextslide/trainer.deck-nextslide.less';
@import '@{plugins}/slide-workspace/slide-workspace.less';
@import '@{plugins}/slide-burger/slide-burger.less';
@import '@{plugins}/slide-serverRunner/slide-serverRunner.less';
@import '@{plugins}/slide.edit-gallery/slide-gallery.less';
@import '@{plugins}/slide-speedDating/slide-speedDating.less';

