doctype 5
html.full-height(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
      title= title
    block css
      link(rel='stylesheet', href='/static/css/style#{cacheBustingVersion}.css')
    block js2
      if doLiveReload
        script(src='http://localhost:35729/livereload.js')
  body.full-height(ng-init="$root.modes = {}")
    block content
    block scripts
      script(src='/static/components/jquery/dist/jquery.js')
    if typeof withInspectlet !== 'undefined' && withInspectlet
      //<!-- Begin Inspectlet Embed Code -->
      script#inspectletjs.
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1778636902]);
        (function() {
                function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
                if (window.attachEvent){
                        window.attachEvent('onload', __ldinsp);
                }else{
                        window.addEventListener('load', __ldinsp, false);
                }
        })();
      //<!-- End Inspectlet Embed Code -->


