doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
      title= title
    block css
      link(rel='stylesheet', href='/static/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/static/css/bootstrap-cyborg.css')
      link(rel='stylesheet', href='/static/components/font-awesome/css/font-awesome.css')
      link(rel='stylesheet', href='/static/css/style.css')
    block js2
      script(src='http://localhost:35729/livereload.js')
      //script(src='/static/components/requirejs/requirejs.js', data-main='/static/js/main')
      //script(src='/static/components/slimScroll/jquery.slimscroll.js')
      //script(src='/static/components/slimScrollHorizontal/jquery.slimscroll.js')
      //script(src='/static/components/bootstrap/dist/js/bootstrap.js')
      //script(src='/static/components/angular/angular.js')
      //script(src='/static/components/angular-bootstrap/ui-bootstrap-tpls.js')
  body
    block content
    block scripts
      script(src='/static/components/jquery/dist/jquery.js')

