include ./workspace-layout.mixins.jade

.full-height
  .editor-focusable.size-half-height1(
      ng-class="{'editor-focus': workspace.active === layout.options[0] }")
      +editor(0)
  .size-half-height2
    .full-height.size-half2-width1
      .full-height.editor-focusable(
        ng-class="{'editor-focus': workspace.active === layout.options[1] }")
        +editor(1)
    .full-height.size-half2-width2
      slide-workspace-output.full-height



