include ./workspace-layout.mixins.jade

.sw-row(ng-style="{height: output.topSize}")
  .editor-focusable.full-height.size-half-width1(
    ng-class="{'editor-focus': workspace.active === layout.options[0] }")
    +editor(0)
  .editor-focusable.full-height.size-half-width2(
    ng-class="{'editor-focus': workspace.active === layout.options[1] }")
    +editor(1)
sw-splitter(left="output.topSize", right="output.bottomSize", drag-active="output.dragActive", is-row="true")
.sw-row(ng-style="{height: output.bottomSize}")
  .overlay(ng-if="output.dragActive")
  slide-workspace-output.full-height

