include ./workspace-layout.mixins.jade

.full-height
  .editor-focusable.size-half-height1(
      ng-class="{'editor-focus': workspace.active === layout.options[0] }")
      +editor(0)
  .size-half-height2
    .sw-col.full-height(ng-style="{width: output.leftSize}")
      .full-height.editor-focusable(
        ng-class="{'editor-focus': workspace.active === layout.options[1] }")
        +editor(1)
    
    sw-splitter(left="output.leftSize", right="output.rightSize", drag-active="output.dragActive")
    .sw-col.full-height(ng-style="{width: output.rightSize}")
      .overlay(ng-if="output.dragActive")
      slide-workspace-output.full-height



