.col-md-12

    h5
        | Zbiórka na wydanie kursu
    h1
        | Angular JS - podstawy

    h5
        | Opisany kurs zostanie przygotowany i udostępniony osobom, które go wsparły.

    h5
        | Do kiedy trwa zbiórka?
    span
        | Do soboty, 30. sierpnia 2014

    h5
        | Kiedy kurs zostanie przygotowany i wydany?
    span
        | Jeśli zbiórka na dany kurs zakończy się sukcesem (osiągnięcie minimalnej sumy wsparcia), kurs
        | zostanie przygotowany i wydany do 30. września 2014.

    h5 
        | Jaką kwotę powinienem zadeklarować?
    span
        | Im większą kwotę zadeklarujesz, tym większe prawdopodobieństwo, że dany kurs
        | przygotujemy i wydamy.

    h5
        | Kiedy będę zobowiązany do płatności?
    span
        | Na aktualnym etapie zbieramy Wasze deklaracje. Jeśli suma deklaracji osiągnie poziom konieczny
        | do przygotowania kursu, otrzymasz wiadomość z informacją o płaności.

    h5
        | Co w przypadku, gdy kurs nie osiągnie wymaganego finansowania?
    span
        | W takim przypadku kurs nie będzie przygotowany, a osoby, które zadeklowały wpłaty nie będą
        | zobowiązane do płatności. Deklarując wpłatę nie ponosisz ryzyka finansowania przedsięwzięcia,
        | które nie dojdzie do skutku.

    h5 
        | Jaką mam gwarancję, że będę zadowolony z jakości przygotowanego kursu?
    span
        | Za przygotowanie i produkcję kursów odpowiadają twórcy xplatform.org - to jest ten sam zespół,
        | który organizuje warsztaty DevMeetings.pl. Stawiamy na szalę naszą reputację i gwarantujemy, że
        | dołożymy takich samych starań co do przygotowywania warsztatów na żywo.
        | Czym jest Devmeetings.pl? Zapraszamy też na nasz fanpage.

