.dm-state-playing {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 12;
}
.dm-xplayer-timeline {
  .progress-bar {
    background-color: @brand-secondary;
  }
}

@subtitlesHeight: 35px;

.dm-player {
  height: ~"calc(100% - 35px)";
}

.dm-player-subtitles-container {
  background-color: @color-dark;
  height: @subtitlesHeight;
}

.dm-player-subtitles {
  @color: darken(@brand-secondary, 5%);

  .dm-annos-item > *:last-child {
    margin-bottom: 20px;
  }
  &.faded {
    opacity: 0;
    transition-delay: 0s !important;
  }

  &.fixed {
    position: relative;
    height: @subtitlesHeight;
    font-size: 1.5rem;
    line-height: 33px;
    background-color: @color-dark;
    transition-delay: 1s;
    padding: 0 5%;
  }
  &.moveable {
    box-shadow: 0 0 50px @color-dark;
    border-radius: 0 5px;
    z-index: 100;
  }
  &.showNow {
    transition-delay: 0s !important;
  }
  &.minimized {
    opacity: 0;
    bottom: 0 !important;
  }

  opacity: 1.0;
  position: absolute;
  color: @color;
  font-weight: 600;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(32, 32, 32, 0.9);
  padding: 6px;
  z-index: 10;

  transition: all .2s ease-in-out;

  pre,code {
    text-shadow: none;
  }

  .microtask-active .microtask-content {
    h1,h2,h3,h4,h5,h6,p {
      color: @color;
    }
  }

  p {
    margin: 0;
  }

  &:hover {
    .btn-minimize {
      opacity: 1.0;
    }
  }
  .btn-minimize {
    top: -5px;
    left: 28px;
    opacity: 0;
    transition: opacity .3s ease;
    transition-delay: 0.5s;
    position: absolute;
    color: grey;

    &:hover {
      cursor: pointer;
    }
  }
}

.dm-player-subtitles-btn {
  z-index: 13;
  position: absolute;
  transition: opacity 0.3s ease-in-out;

  width: 120px;
  height: 120px;
  top: ~"calc(50% - 140px)" !important;
  left: ~"calc(50% - 140px)" !important;
  overflow: visible;
  opacity: 1.0;

  &.faded {
    opacity: 0.0;
    transition-delay: 0 !important;
  }

  .btn-next-subtitle {
    font-size: 1.8rem;

    position: absolute;
    bottom: 0;
    top: 10px;
    left: 10px;
    z-index: 50;

    width: 100px;
    height: 100px;
  }
}
.btn-next-subtitle {
  @color: @brand-secondary;
  @fg: #0f0f0f;

  background-color: @color;
  color: @fg;
  text-align: center;
  font-size: 0.9rem;

  display: inline-block;
  padding: 1px;

  outline: none !important;
  border: none;
  border-radius: 0;

  min-width: 40px;

  &:hover {
    color: @fg;
    background-color: lighten(@color, 10%);
  }

  &:focus {
    color: @fg;
    background-color: darken(@color, 10%);
  }

  &:active {
    color: @fg;
    background-color: darken(@color, 10%);
  }

  &.muted {
    color: @color;
    background: transparent;
  }
}

