.dm-state-playing {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 12;
}
.dm-xplayer-timeline {
  .progress-bar {
    background-color: #aa2;
  }
}
.dm-player {
  height: ~"calc(100% - 35px)";
}
.dm-player-subtitles {
  @color: #aa0;

  color: @color;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  background-color: #1E1E1E;
  height: 35px;
  line-height: 33px;
  font-size: 18px;
  text-align: center;

  pre,code {
    text-shadow: none;
  }

  .microtask-active .microtask-content {
    h1,h2,h3,h4,h5,h6,p {
      color: @color;
    }
  }

  p {
    margin: 0;
  }

}

.dm-player-subtitles-btn {
  z-index: 13;
  position: absolute;
  transition: opacity 0.7s ease-in-out;

  width: 120px;
  height: 120px;
  top: ~"calc(50% - 140px)" !important;
  left: ~"calc(50% - 140px)" !important;
  overflow: visible;
  opacity: 1.0;

  &.faded {
    opacity: 0.0;
  }

  .btn-next-subtitle {
    @color: #aa2;
    @fg: #0f0f0f;

    background-color: @color;
    color: @fg;
    text-align: center;
    font-size: 50px;

    position: absolute;
    bottom: 0;
    top: 10px;
    left: 10px;
    z-index: 50;

    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;

    outline: none !important;
    border: none;
    border-radius: 0;

    &:hover {
      color: @fg;
      background-color: lighten(@color, 10%);
    }
    &:focus {
      color: @fg;
      background-color: darken(@color, 10%);
    }
    &:active {
      color: @fg;
      background-color: darken(@color, 10%);
    }
  }
}
