.dm-questions {

  small {
    white-space: normal;
    position: absolute;
    top: -6px;
    font-size: 0.8rem;
    color: #888;
    right: 4px;
  }
  .dm-answers {
    small {
      left: 4px;
      right: auto;
    }
  }

  img, .a > span.fa {
    position: relative;
    z-index: 2;
  }
  img {
    vertical-align: -8px;
  }     
  .input-group {
    padding-top: 5px;
  }
}


.dm-question-modal {
  .modal-content,
  button,
  input,
  textarea,
  .panel-heading, 
  .panel-footer {
    border-radius: 0;
  }

  .dm-answers {
    max-height: 200px;
    overflow-y: auto;
  }
}

.dm-question-item.dm-question-item {
  border-radius: 0;
}
.questions-list {
  font-size: 1.1rem;
  padding: 0 5px;
  .nav > li {
    margin-top: 0;
  }
  li > a {
    border-top: 1px solid @color-gray25;
    padding: 5px 10px;
  }
  li.active > a {
    background-color: @color-gray25;

    &:hover {
      background-color: lighten(@color-gray25, 10%); 
    }
  }
  form {
    margin-top: 10px;
    margin-left: 15px;
  }

  li > ul {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
}

