div
    include ../dm-xplatform-question-create/index
    //hr
    ul.nav.nav-stacked.nav-pills.questions-list
        li(ng-repeat='question in questions | orderBy: "-timestamp"', 
            ng-class="{'active': activeQuestion == question.slidesave || activeQuestionParent == question.slidesave }")
            a.cursor-pointer(ui-sref='index.space.question({slide: question.slidesave, parent:null})')
                small.pull-right(am-time-ago='question.timestamp')
                span {{question.description}}
            ul.nav.nav-stacked(ng-show="activeQuestion == question.slidesave || activeQuestionParent == question.slidesave ")
                li(ng-repeat='comment in question.comments', ui-sref-active="active")
                    a(ui-sref='index.space.question({slide: comment.slidesave, parent: question.slidesave})')
                        span {{comment.text}}
            form(ng-submit='createComment(question)', ng-show="activeQuestion == question.slidesave || activeQuestionParent == question.slidesave ")
                .form-group
                    .input-group
                        input.input-sm.form-control(required, ng-model='question.text', autofocus, placeholder="Wpisz swoją odpowiedź")
                        span.input-group-btn
                            button.btn.btn-default.btn-sm(type='submit')
                                span.fa.fa-reply
            //hr(ng-show="activeQuestion == question.slidesave || activeQuestionParent == question.slidesave ")


