.col-xs-12.full-height
    .row.dm-annos(ng-show="annotations.length === 0")
        .col-xs-12
            h4 W tym miejscu pojawi się dokumentacja przydatna podczas rozwiązywania zadań.
    .row(ng-if="editMode")
        .col-xs-12
            dm-xplatform-edit-annotation(snippet="newSnippet", event-id="eventId")

    .form-group.dm-annos-search(ng-if='showSearch', ng-show="annotations.length")
        input.input-sm.form-control(placeholder="Szukaj", ng-model='search.text')
    .row.dm-annos(ng-style='{"height": showSearch ? "calc(100% - 50px)" : "100%" }')
        .list-group(ng-if="showAll")
            .list-group-item.animate.dm-annos-item(
                ng-repeat='p in annotations | filter: search.text | orderBy: "-timestamp" | orderBy: "index"', 
                ng-if='p.type === "snippet"')
                dm-annotation(annotation='p', showIteration='showAll', ng-if='p.type === "snippet"')
                dm-microtask(microtask='p', ng-if='p.type === "task"')

        .list-group(ng-if="!showAll")
            .list-group-item.animate.dm-annos-item(
                ng-repeat='p in annotations | filter: search.text | orderBy: "-timestamp" | orderBy: "index"', 
                ng-if='p.timestamp <= state.currentSecond')
                dm-annotation(annotation='p', showIteration='showAll', ng-if='p.type === "snippet"')
                dm-microtask(microtask='p', ng-if='p.type === "task"')

