.col-xs-12.full-height
    .form-group.dm-annos-search(ng-if='showSearch')
        input.input-sm.form-control(placeholder="Szukaj", ng-model='search.text')
    .row.dm-annos(ng-style='{"height": showSearch ? "calc(100% - 50px)" : "100%" }')
        .list-group
            .list-group-item.animate(ng-repeat='p in annotations | filter: search.text | orderBy: "-timestamp" | orderBy: "index"', ng-if='showAll || p.timestamp <= state.currentSecond')
                h4 {{p.title }}
                h5(ng-if='showAll') {{"Iteracja " + (p.index + 1)}}
                div(marked='p.description')


