.col-md-12.col-lg-12.dm-xplatform-index-div
    .col-md-2.col-lg-2.dm-xplatform-index-left
        .list-group
            a.list-group-item(ng-repeat='section in sections', ui-sref='navbar.index.table({type: section.sref})', ui-sref-active='dm-index-active')
                {{section.title}}
                .dm-xplatform-bottomstripe
    .col-md-10.col-lg-10.dm-xplatform-index-right
        div(ui-view='list')

  //xplatform-deckgrid(ng-repeat="board in dashboard.sections", title="board.title", elements="board.items")
    h4
      | {{card.title}}
    a.col-md-12.xplatform-index-item(ng-show="card.urlType === 'static'", ng-href="{{card.url}}")
    a.col-md-12.xplatform-index-item(ng-show="card.urlType === 'router'", ui-sref="{{card.url}}")

