.row.xplatform-deckgrid
  h2
    span.glyphicon.glyphicon-th-list
    | {{title}}
  .deckgrid.xplatform-deckgrid-list.ng-cloak(deckgrid, source="elements")
    .a-card.col-md-11
      xplatform-deckgrid-item

