.col-md-12.col-lg-12.dm-xplatform-index-div.full-height
    .dm-xplatform-index-left
        div(ui-view='left')
    .dm-xplatform-index-mid
        div(ui-view='mid')
    .dm-xplatform-index-right
        div(ui-view='right')
