.dm-xplatform-index-div {
    margin: 0px;
    padding: 0px;
    background-color: transparent;

    .dm-xplatform-index-left {
        background-color: rgb(33,33,33);
        
        .list-group-item {
            background-color: transparent;
            border-width: 0px;
            height: 45px;
            color: rgb(160,160,160);
            cursor: pointer;
            border-radius: 0px;
            padding-top: 14px;

            .dm-xplatform-bottomstripe {
                width: 100%;
                height: 1px;
                background-color: rgb(20,20,20);
                position: absolute;
                bottom: 2px;
                left: 0px;
            }
            
            .dm-xplatform-bottomstripe:first-child {
                background-color: rgb(40,40,40);
                height: 1px;
                bottom: 1px;
            }
        }

        .dm-index-active, 
        .list-group-item:hover {
            color: white;
            background-color: rgb(53,53,53);
            .dm-xplatform-bottomstripe {
                background-color: transparent;
            }
        }
    }

    .dm-xplatform-index-mid {
        background-color: rgb(22,22,22);
    }


    .dm-xplatform-index-right {
        background-color: rgb(31,31,31);    
    }

    .dm-xplatform-index-left,
    .dm-xplatform-index-mid,
    .dm-xplatform-index-right {
        margin: 0px;
        padding: 0px;
        height: 100%;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;

        > * {
            height: 100%;
            overflow-y: auto;
        }
    }
}

.xplatform-index-item {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    left: 0px;
    top: 0px;
}


