.col-lg-2.col-md-2
  include xplatform-player-navi.jade
.col-lg-10.col-md-10
  .row
    .full-screen-mode 
      videojs(height="610", src='"https://www.youtube.com/watch?v=cpBRAZ7RJvc"', current-second="state.currentSecond", is-playing="state.isPlaying", should-update-time='true', controls='true')
      plugins-loader(ng-class="{'on-top': !state.isPlaying}", namespace="'slide'", context="slide")
