.list-group
  a.list-group-item(ng-repeat="slide in chapters", ng-click="secondIsActive(slide, state.currentSecond) ? (state.isPlaying = !state.isPlaying) : jumpTo(slide.timestamp)", ng-class="{'active' : secondIsActive(slide, state.currentSecond)}")
    | {{slide.name}}
    div.pull-right(ng-show="secondIsActive(slide, state.currentSecond)")
      span(ng-hide="state.isPlaying")
        span.fa.fa-play
      span(ng-show="state.isPlaying")
        span.fa.fa-pause
