.full-screen-mode {
    margin: 3em auto;
    margin-top: 0px;
    position: relative;
    width: 1080px;
    height: 700px;
}

.full-screen-mode .on-top {
    z-index: 5;
}

.full-screen-mode::after {
    content: '';
    display: table;
    clear: both;
}

.full-screen-mode .video-js {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
}

.full-screen-mode > plugins-loader {
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    z-index: 1; 
    background: #000;
}

.full-screen-mode .navi {
    position: absolute;
    top: -50px;
    left:0;
    right: 0;
    height: 50px;
}

.player-chapter-time {
    font-size: 10px;
    padding-top: 4px;
    padding-left: 20px;
}
