style.
  .player-bottombar {
    background-color: rgb(31,158,216);
  }

  .player-slider{
    width: 400px;
  }

  .player-navbar-center {
    float: none !important;
    text-align: center;
  }

  .player-brand-center {
    float: none;
    display: inline-block;
  }

  .player-icon {
    margin-left: 50px;
    margin-right: 50px;
  }

  .player-top-bottombar {
    height: 5px;
    position: fixed;
    bottom: 92px;
    left: 0;
    right: 0;
    background-color: rgb(7,136,177);
    z-index: 100000;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }

  .inline-list {
    white-space: nowrap;
    overflow: auto;
  }

  .inline-item {
    display: inline-block;
  }

  .chapters-bottombar {
    height: 42px;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 10000000;
    
  }

  .chapters-bottombar ::-webkit-scrollbar {
    height: 0px;
  }



#player-bottombar.player-top-bottombar(style="width:{{state.activeChapterPercentage}}%")

.chapters-bottombar
  .list-group.inline-list
    a.list-group-item.inline-item(ng-repeat="slide in chapters", ng-click="state.activeChapterIndex === $index ? (state.isPlaying = !state.isPlaying) : jumpTo($index)", ng-class="{'active' : state.activeChapterIndex === $index}")
      span.pull-right.player-chapter-time
        | {{timeForChapter($index) | amDateFormat:'mm:ss'}}
      | {{slide.name}}


nav.navbar.navbar-default.navbar-fixed-bottom.player-bottombar(role="navigation")
  .navbar-header
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse.navbar-inverse-collapse
    .navbar-left.player-navbar-center 
      a.navbar-brand.player-brand-center
        span.fa.player-icon.fa-step-backward(ng-click="moveBySeconds(-15)")
        span.fa.player-icon(ng-class="{'fa-play':!state.isPlaying, 'fa-pause':state.isPlaying}", ng-click="state.isPlaying = !state.isPlaying")
        span.fa.player-icon.fa-step-forward(ng-click="moveBySeconds(15)")
