style.
  .player-bottombar {
    background-color: #224a70;
  }
  .player-navbar-center {
    float: none !important;
    text-align: center;
  }

  .player-brand-center {
    float: none;
    display: inline-block;
  }

  .player-icon {
    margin-left: 50px;
    margin-right: 50px;
  }

  .player-top-bottombar {
    height: 5px;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: rgb(7,136,177);
    z-index: 1000;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }

  .player-navbar-left {
    z-index: 1001;
    position: absolute;
    left: 0px;
    bottom: 6px;
    margin: 0px;
    float: none !important;
  }

  .player-load-list {
    max-height: 400px;
    width: 280px;
    overflow-y: auto;
  }

.player-top-bottombar(style="width:{{state.activeChapterPercentage}}%")


nav.navbar.navbar-default.navbar-fixed-bottom.player-bottombar(role="navigation")
  .navbar-header
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse.navbar-inverse-collapse
    ul.player-navbar-left
      li.inline-item
        .dropup
          button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropup")
            i.fa.fa-folder-open
            | &nbsp;Open
          ul.dropdown-menu.list-group.player-load-list
            li.list-group-item(ng-repeat="file in files")
              span.pull-right(am-time-ago="file.date")
              b 
                | {{file.title}}
      li.inline-item
        button.btn.btn-success(ng-show="!state.isPlaying")
          i.fa.fa-save
          | &nbsp;Save
    .navbar-left.player-navbar-center 
      a.navbar-brand.player-brand-center
        span.fa.player-icon.fa-step-backward(ng-click="moveBySeconds(-15)")
        span.fa.player-icon(ng-class="{'fa-play':!state.isPlaying, 'fa-pause':state.isPlaying}", ng-click="state.isPlaying = !state.isPlaying")
        span.fa.player-icon.fa-step-forward(ng-click="moveBySeconds(15)")
