include xplatform-player-navi.jade
.col-lg-12.col-md-12
  .full-screen-mode 
    videojs(height="610", src="state.videoUrl", video-length="state.videoLength", current-second="state.currentSecond", is-playing="state.isPlaying", controls='true')
    plugins-loader(ng-class="{'on-top': !state.isPlaying}", namespace="'slide'", context="slide")
include xplatform-player-bottombar.jade
