div(ng-if="length")
  .dm-timeline-point(
    ng-repeat='p in ::annos',
    ng-style='{"transform": "translate(" + (p.timestamp / length * size + "px") + ", 0)" }',
  )

progressbar(value='value', animate="false")



