div(ng-if="length")
  .dm-timeline-point(
    ng-repeat='p in annotations track by p._id',
    ng-style='{"transform": "translate(" + (p.timestamp / length * size + "px") + ", 0)" }',
    tooltip-html-unsafe='{{p.title + "<br/>" + p.timestamp + " second" }}',
    tooltip-placement='top')
    dm-taskicon.dm-timeline-snippet(type='p.type', ng-if="p.type !== 'snippet' && p.type !== 'task'")

progressbar(value='value', animate="false")



