.section-slides.col-sm-12.full-height
    .row.full-height
        .col-xs-12.dm-slide-left
            plugins-loader(namespace="'slide'", context="slide.content")
            plugins-loader(ng-if="modes.isEditMode", namespace="'slide.edit'", context="slide.content")
