/*.iframe-slides {
    width: 100%;
    border: none;
    background: none;
    height: 100%;

    &.main-slide {
        min-height: 600px;
    }
}
.section-slides {
  height: calc(~"100% - 90px");
}*/
