extends ../layouts/main

append scripts
    script(src='/static/components/requirejs/require.js')
    script(src='/static/config.js')
    script(src='/static/dm-xplatform/xplatform-config.js')

block content
    div(ui-view='navbar')
    div(ui-view='content')
