.container-fluid
  .row
    .col-sm-5
      with currentItem
        +EventRowDetails
    .col-sm-7
      hr.visible-xs
      h3.text-center #{event.eventTitle}
      h3(style="display:none")
          a(href="/live/admin/admin/EventTimings/{{event._id}}/edit") edit
      h5.text-muted.text-center {{asDate event.eventDate}}
      if event.announcement
        h3 #{event.announcement}
      table.table
        tbody
          each mapItems
            +EventRow
      .pull-left
        h5
          a(href="/live/{{event.id}}/ranking") Ranking
      .pull-right
        if isAdmin
          a(href="/live/admin/admin/EventTimings/{{event._id}}/edit") edit

          unless currentItem
            button.btn.btn-default.btn-xs(role="togglePlanningMode")
              span.fa.fa-fw.fa-calendar
              span Toggle planning Mode
          else
            button.btn.btn-default.btn-xs(role="finishEvent")
              span.fa.fa-fw.fa-stop
              span Finish Event
            
