.text-center.event-row-details
  .progress
    .progress-bar(style="width: {{progressPrcnt}}%")
  br

  h1 #{title}
  h3.text-muted {{asTime startedAt}} - {{asTime endTime2}}
  br

  h1(class="text-{{textClass}}") {{timeLeft}} min
  br

  h1.text-muted
    span.fa.fa-fw(class="fa-{{icon}}")

  
