.DS_Store
node_modules
executors/javaExecutor/bin/
executors/javaExecutor/build/
executors/javaExecutor/.project
executors/javaExecutor/.classpath
executors/javaExecutor/.settings
executors/javaExecutor/.gradle
platform/public/components
platform/public/slides/*.yaml
