.dm-timeline-point {
    position: absolute; 
    width: 1px;
    top: 0px;
    height: 100%;
    margin-left: -1px;
    z-index: 100000;
}

.star-color {
    background-color: rgb(68,45,45);   
}

.completed-color {
    background-color: rgb(43,43,43);
}

.dm-timeline-image {
    position: relative;
    width: 20px;
    top: 14px;
    left: -10px;
}

