//-.dm-timeline
.dm-timeline-point.star-color(ng-repeat='point in points', 
    style='left: {{point.timestamp / length * 100}}%',
    ng-class='{"completed-color": point.done}',
    ng-click='callback(point)',
    tooltip-html-unsafe='{{point.task + "<br/>" + point.timestamp + " sekunda"}}')
    img.dm-timeline-image(ng-if='!point.done', src='/static/images/microtask/mt_star.png')
    img.dm-timeline-image(ng-if='point.done', src='/static/images/microtask/mt_completed.png')
