dm-timeline {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    bottom: 100px;
}

.dm-timeline-point {
    position: absolute; 
    width: 1px;
    top: 0px;
    height: 50px;
    margin-left: -1px;
}

.star-color {
    background-color: rgb(68,45,45);   
}

.completed-color {
    background-color: rgb(43,43,43);
}

.info-color {
    background-color: #5aabcb;
}

.dm-timeline-image {
    background-color: rgb(26,26,26);
    width: 24px;
    position: relative;
    color: #5aabcb;
    top: 11px;
    left: -12px;
}
.dm-timeline-snippet {
    background-color: rgb(26,26,26);
    font-size: 20px;
    position: relative;
    color: #5aabcb;
    top: 14px;
    left: -8px;
}

