.dm-timeline-point {
    position: absolute; 
    width: 1px;
    top: 0px;
    height: 100%;
    margin-left: -1px;
    z-index: 100000;
}

.star-color {
    background-color: rgb(68,45,45);   
}

.completed-color {
    background-color: rgb(43,43,43);
}

.info-color {
    background-color: #5aabcb;
}

.dm-timeline-image {
    background-color: rgb(26,26,26);
    font-size: 20px;
    position: relative;
    color: #5aabcb;
    top: 14px;
    left: -8px;
}

