.dm-xplatform-message {
    padding: 0px;
    
    .dm-message-title {
        color: rgb(196,196,196);
        margin: 30px 0px 20px 0px;
    }

    textarea {
        background-color: rgba(255,255,255,0.15);
    }
}
