@platform: "../../x-platform/public";
@components: "@{platform}/components";
@import "@{platform}/less/theme-variables.less";
@import '@{platform}/less/bootstrap.less';
@import "@{platform}/less/base.less";


body {
  background-color: #161616;
}
.embed {
  background-color: #1e1e1e;
}
.embed-small {
  background: none;
  overflow: hidden;
}
