.col-md-4
  form(role='new-task')
    input.form-control(type='text', name='text')
    button.btn.btn-primary Add

    each todos
      label.checkbox
        input(
          type='checkbox', 
          checked=completed
        )
        span #{text}

