.col-xs-12.col-md-offset-2.col-md-8
    h2 Polityka prywatności serwisu www.xplatform.org
    h3 1. Informacje ogólne
    p
        | a. Operatorem Serwisu www.xplatform.org jest ...
    p    
        | b. Serwis realizuję funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:
    p
        | - poprzez dobrowolnie wprowadzone w formularzach informacje,
    p
        | - poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka").

    h3 2. Informacje o formularzach.
    p
        | a. zbiera informacje podane dobrowolnie przez użytkownika.
    p
        | b. Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP)
    p
        | c. Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.
    p
        | d. Dane podane w formularzu mogą stanowić zbiór potencjalnych klientów, zarejestrowany przez Operatora Serwisu w rejestrze prowadzonym przez Generalnego Inspektora Ochrony Danych Osobowych.
    p
        | e. Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.
    p
        | f. Dane podane w formularzach mogą być przekazane podmiotom technicznie realizującym niektóre usługi – w szczególności dotyczy to przekazywania informacji o posiadaczu rejestrowanej domeny do podmiotów będących operatorami domen internetowych (przede wszystkim Naukowa i Akademicka Sieć Komputerowa j.b.r – NASK), serwisów obsługujących płatności lub też innych podmiotów, z którymi Operator Serwisu w tym zakresie współpracuje.
    h3 3. Informacja o plikach cookies.
    p
        | a. Serwis korzysta z plików cookies.
    p
        | b. Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
    p
        | c. Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.
    p
        | d. Pliki cookies wykorzystywane są w następujących celach:
    p
        | - tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;
    p
        | - utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;
    p
        | - określania profilu użytkownika w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych, w szczególności sieci Google.
    p
        | e. W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.
    p
        | f. Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.   
    p
        | g. Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.
    p
        | h. Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i wykorzystywane mogą być również przez współpracujących z operatorem Serwisu reklamodawców oraz partnerów.
    p
        | i. Zalecamy przeczytanie polityki ochrony prywatności tych firm, aby poznać zasady korzystania z plików cookie wykorzystywane w statystykach: Polityka ochrony prywatności Google Analytics
    p
        | j. Pliki cookie mogą być wykorzystane przez sieci reklamowe, w szczególności sieć Google, do wyświetlenia reklam dopasowanych do sposobu, w jaki użytkownik korzysta z Serwisu. W tym celu mogą zachować informację o ścieżce nawigacji użytkownika lub czasie pozostawania na danej stronie.
    p
        | k. W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może przeglądać i edytować informacje wynikające z plików cookies przy pomocy narzędzia: https://www.google.com/ads/preferences/
    h3 4. Logi serwera
    p
        | a. Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej obsługi świadczonych usług hostingowych.
    p
        | b. Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:
    p
        | - czas nadejścia zapytania,
    p
        | - czas wysłania odpowiedzi,
    p
        | - nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,
    p
        | - informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,
    p
        | - adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,
    p
        | - informacje o przeglądarce użytkownika,
    p
        | - informacje o adresie IP.
    p
        | c. Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.
    p
        | d. Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.
    h3 5. Udostępniane danych.
    p
        | a. Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.
    p
        | b. Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.
    p
        | c. Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.

    h3 6. Zarządzanie plikami cookies – jak w praktyce wyrażać i cofać zgodę?
    p
        | a. Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze stron www.
        | b. W celu zarządzania ustawieniami cookies wybierz z listy poniżej przeglądarkę internetową/ system i postępuj zgodnie z instrukcjami:
    p
        | - Internet Explorer
    p
        | - Chrome
    p
        | - Safari
    p
        | - Firefox
    p
        | - Opera
    p
        | - Android
    p
        | - Safari (iOS)
    p
        | - Windows Phone
    p
        | - Blackberry












