.col-xs-offset-0.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
    h1 &nbsp;
    h4  1.
    span bla bla
    h4  1.
    span bla bla
    h4  1.
    span bla bla
    h4  1.
    span bla bla
    h4  1.
    span bla bla
    h4  1.
    span bla bla
    h4  1.
    span bla bla
