.col-xs-12.dm-ranking
    .course-background
        h3 Ranking
        table.table
            thead
                tr
                    th #
                    th Suma
                    th(ng-repeat='i in event.iterations') {{i.title}}
            tbody
                tr(ng-repeat='person in ranking.people | keysLength: "tasks" ')
                    th {{person.name}}
                    td {{person.tasks | keysLength}}
                    td(ng-repeat='i in event.iterations.slice(0, activeIteration)')
                        table.table.table-bordered.tasks
                            tr
                                td(
                                    ng-repeat="t in i.tasks", 
                                    ng-class="{'success': personDidTask(person, t),'danger':!personDidTask(person, t)}")
                    td
                        table.table.table-bordered.tasks
                            tr
                                td(
                                    ng-repeat="t in task in event.iterations[activeIteration].tasks", 
                                    ng-class="{'success': personDidTask(person, t),'danger':!personDidTask(person, t)}")
                                    | {{task.title}}
                    td(ng-repeat='i in event.iterations.slice(activeIteration + 1, tasks.length)')
                        | {{personIterationCount(person, i) + '/' + i.tasks.length}}



