extends ../layouts/main

append head
    base(href="/")
append scripts
    +loadModule('dm-xplatform/dm-xplatform')

block content
    .full-height(ng-init='$root.isLoggedIn=#{isLoggedIn}; $root.editMode=#{editMode}')
        dm-online(is-online='!$root.isOffline')
        div(ui-view='navbar')
        .content-height(ui-view='content', ng-class="{'header-hidden': $root.headerHidden}")
