
.dm-dashboard-index {

  .bold {
    font-weight: bold;
  }

  .event {
    padding: 0 35px 35px 35px;
    /*border: 1px solid white;*/

    &.col-md-12 {
      background-color: lighten(black, 10%);
    }

    .streaming {

      img {
        width: 100%;
        height: 300px;
        background-color: #122A0A;
      }
    }

    .avatar {
      display: inline-block;
      width: 24px;
      margin: 0 2px 2px 0;
    }

    .reporter {
      max-height: 200px;
      background-color: white;
      color: #d73d32;
      border: 1px solid #d73d32;
      overflow: auto;

      ul {
        margin-left: 0;
        padding: 0 15px 15px 15px;

        li {
          list-style: none;
          background-color: white;
          color: #d73d32;
        }
      } 
    }
  }
}