.clearfix(ng-if="mode !== 'player' && showSave")
  .pull-left.rec-start
    button.btn.btn-success.btn-xs(ng-click="startingRecording()")
      span.fa.fa-flash
  .col-md-6
    progressbar(ng-show="waiting", value="waitTime", max="maxWaitTime", animate="false")
        | {{ maxWaitTime - waitTime }}

  .pull-right(ng-hide="$root.isZenMode")
    label
      input(type='checkbox', name='checkbox', value='value', ng-model='recording')
      | Recording
