.col-md-12.dm-devhero-container
    .col-md-12
        p.dm-devhero-name {{user.name}}
        p
            img(ng-src='{{user.avatar | dmGravatar:90}}')
    .col-md-12
        .dm-devhero-separator 
        p BIO
        .dm-devhero-bio(marked='user.bio || "-"')
        .dm-devhero-separator

