.embed-box {
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  h4 {
    margin-top: 0;
    margin-bottom: 3px;
  }
  h5 {
    margin-top: 2px;
  }
  .embed-link-plain {
    color: inherit;
  }
  .embed-progress {
    opacity: 0.3;
    margin-top: 3px;
    height: 3px;
  }
}

