.microtask-user 
    img(src="static/images/microtask/mt_user.png") 
    img(src="static/images/microtask/mt_user.png") 
    img(src="static/images/microtask/mt_user.png") 
    span.microtask-user-amount +2
    span.microtask-user-done
        | 10 znajomych zrobiło zadanie
