.dm-microtask-container {
    padding: 10px 30px 30px 30px;
    margin: 0 auto;
}


.microtask-col {
    padding: 20px 0;
    height: 92px;
}

.microtask-img {
    float: left;
    padding-top: 30px;
}
.microtask-content {
    float: left;
}     
.microtask-desc {
    float: left;
}                        
.microtask-user {
    float: left;
}

.microtask-users img {
    border: 2px solid #2f2f2f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.microtask-user-amount {
    display: inline-block;
    background: #303030;
    width: 30px;
    height: 30px;
    color: #464646;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: @weight-semibold;
}