.col-md-12.dm-microtask-container

    .row
        .col-md-12
            .microtask-holder
                .microtask-col
                    .microtask-img
                        img(src="static/images/microtask/mt_completed.png")
                    .microtask-content
                        .microtask-desc
                            | Przypisz tytuł zadania do zmiennej 
                        .microtask-users
                            img(src="static/images/microtask/mt_user.png") 
                            img(src="static/images/microtask/mt_user.png") 
                            img(src="static/images/microtask/mt_user.png") 
                            img(src="static/images/microtask/mt_user.png")
                            .microtask-user-amount +2





                .microtask-col
                    | asas 
                    | saaasas

        .col-md-12
            .paypageprice-progress-holder
                hr
                h3 Stan zbiórki
                .progress
                    .progress-bar.progress-bar-success.progress-bar-striped
                        | {{course.progressbarValue}}%