.col-md-12
    .row
        dm-microtask(dm-finished='false', dm-text='"dodaj klase `deprecated` do HTML"')
        dm-microtask(dm-finished='true', dm-text='"przypisz tytuł do zmiennej `title`"')
        //-dm-microinfo

