.panel(ng-controller="dmXplatformQuestionCreate")
    .panel-body
        p Zaznacz fragment kodu, który chcesz wyróżnić i dodaj opis.
        form(ng-submit='createQuestion()')
            .form-group
                input.input-sm.form-control(
                    placeholder="Opis",
                    ng-model='question.description', type='text', required, autofocus)
            button.btn.btn-sm.btn-primary.btn-block(type='submit') Opublikuj kod

