extends layout

block content
    .container-fluid(role='main')
      .row
        .col-lg-10.col-lg-offset-1
          .jumbotron
            h1 
              span.glyphicon.glyphicon-th-large
              |  Welcome to Slider!
            p Please upload your slides or use one of the existsing ones.
          .row
            .col-lg-6
              .panel.panel-default
                .panel-heading
                  h3 Slides
                .panel-body
                  ul
                    - each slideset in slidesets
                      li: a(href="/#{slideset.name}") #{slideset.title} (slides: #{slideset.count})

            .col-lg-6
              .panel.panel-default
                .panel-heading
                  h3 Upload new slides
                .panel-body
                  form(role="form", method="post", enctype="multipart/form-data", action="/")
                    .form-group
                      input.form-control(type="text", name="name", placeholder="Slides short name")
                    .form-group
                      input.form-control(type="file", name="yaml", placeholder="Yaml file")

                    button.btn.btn-primary.pull-right(type="submit") Upload slides