extends layout

block content
  nav.navbar.navbar-default(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') devmeetings.slider
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-nav-floating
          li
            a(href='#slide1') Slide 1
          li
            a(href='#slide2') Slide 2
          li.active
            a(href='#') Slide 3
          li
            a(href='#') Slide 4
          li
            a(href='#') Slide 5
          li
            a(href='#') Slide 6
    .container-fluid(role='main')
      .row
        .col-lg-10.col-lg-offset-1
          iframe(src='slides-slide1.html')
    .slide-controls
      a.btn.btn-success.slide-control.ctrl-slowmo(target="slowmo", data-toggle="tooltip", title="Show code in Slowmo.js")
        span.glyphicon.glyphicon-dashboard
      button.btn.btn-danger.slide-control.ctrl-proj(data-toggle="tooltip", title="Toggle projector mode")
        span.glyphicon.glyphicon-bullhorn
      br
      button.btn.btn-info.slide-control.ctrl-prev(data-toggle="tooltip", title="Previous")
        span.glyphicon.glyphicon-arrow-left
      button.btn.btn-info.slide-control.ctrl-next(data-toggle="tooltip", title="Next")
        span.glyphicon.glyphicon-arrow-right

append scripts
  script(src="js/main.js")