extends layout

block content
  nav.navbar.navbar-default(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.text-muted(href='#')
          span.glyphicon.glyphicon-th-large
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-nav-floating
          li.active
            a(href='#slide1') Empty
    .container-fluid(role='main')
      .row
        .col-lg-10.col-lg-offset-1
          iframe(src='slide')
    .slide-controls
      a.btn.btn-success.slide-control.ctrl-slowmo(target="slowmo", data-toggle="tooltip", title="Show code in Slowmo.js")
        span.glyphicon.glyphicon-dashboard
      button.btn.btn-danger.slide-control.ctrl-proj(data-toggle="tooltip", title="Toggle projector mode")
        span.glyphicon.glyphicon-bullhorn
      br
      button.btn.btn-info.slide-control.ctrl-prev(data-toggle="tooltip", title="Previous")
        span.glyphicon.glyphicon-arrow-left
      button.btn.btn-info.slide-control.ctrl-next(data-toggle="tooltip", title="Next")
        span.glyphicon.glyphicon-arrow-right

append scripts
  script(src="js/js-yaml.min.js")
  script(src="js/main.js")