extends layout

block content
    

    .main-content.fade.container-fluid
        .row
            .col-lg-12
                h1= title
                div!= text
                if code
                    #editor.editor= code
        .row
            .col-lg-12
                #errors.alert.alert-danger.errors
        br
        if code
            #output.row(data-monitor='#{monitor}')
                .col-sm-6
                    #output-ace.editor
                .col-sm-6
                    #output-json
prepend styles
    link(href="css/inspector-json.css", rel="stylesheet")
append scripts
    script(src="js/inspector-json.js")
    script(src="js/ace-builds/src-noconflict/ace.js")
    script(src="js/slide.js")
