extends layout

block content
    button.task-solution-btn.btn.btn-success.hidden
    h3 Notes
    #editor.editor
    h3 Next slide
    iframe(src='slide')

append scripts
  script(src="js/jquery.hotkeys.js")
  script(src="js/ace-builds/src-noconflict/ace.js")
  script(src="js/trainer.js")