.dm-editor {
  position: relative;
  
  @space: 20px;

  .editor-name {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #8F8F8F;
    text-shadow: 0 0 3px #222;
    padding: 5px;
    padding-right: @space + 10px;
  }

  .editor-expand {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #0f0f0f;
    padding: 5px;
    transition: color 1s ease-in-out;
  }

  &:hover {
    .editor-expand {
      text-shadow: 0 0 3px #444;
      color: #777;
    }
  }


  &.expanded {
    @margin: 25px;
    position: fixed;
    padding: @margin;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    .editor-expand, .editor-name {
      bottom: @margin;
      right: @margin;
    }
    .editor-name {
      right: @margin;
    }
  }

  transition: opacity .3s ease-in-out;

  &.expanded-add-active, &.expaded-remove-active {
    opacity: 1.0;
  }
  &.expanded-add, &.expanded-remove {
    opacity: 0;
  }

}
