.dm-editor {
  position: relative;

  .editor-name {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    color: #bbb;
    text-shadow: 0 0 3px 3px #444;
    padding: 10px;
  }
}
