iframe {
    width: 100%;
    border: none;
    background: none;
    height: 600px;
}
iframe.main-slide {
    min-height: 600px;
}
body.loaded h1, body.loaded h2, body.loaded h3, body.loaded h4, body.loaded h5, body.loaded h6, 
body.loaded .output-ace, body.loaded .editor, body.loaded .output-json {
    transition: font-size .5s;
}
.container

.fiddle-output {
    height: 500px;
}
.editor {
    height: 270px;
    background-color: #272822;
}
.editor.small {
    height: 180px;
}
.editor.big {
    height: 450px;
}
.editor-full-screen {
    position: fixed;
    top: 70px;
    bottom: 50px;
    left: 30px;
    right: 30px;
    z-index: 100;
    box-shadow: 0 0 100px #444;
    border: 4px groove #444;
}
.editor-full-screen .editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
}
.editor-full-screen .tab-content .editor {
    top: 42px;
}
.editor-full-screen .nav {
    opacity: 1.0;
    background-color: #000;
}
.editor-full-screen .ace_content {
    width: 100% !important;
    height: 100% !important;
}
.editor-change-size {
    position: relative;
    float: right;
    top: -1em;
    right: 0.5em;
    z-index: 150;
    cursor: pointer;
}
.editor-full-screen .editor-change-size {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 1.5em;
}
.output, .output .editor {
    height: 170px;
}
.output-json {
    overflow: auto;
}
pre.editor {
    border: none;
    color: #eed;
    overflow-x: auto;
}
.inspector-json, .output-ace, .editor {
    font-size: 14px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#editor.trainers-notes {
    font-size: 16px;
}

.slide-controls {
    position: fixed;
    right: 15px;
    bottom: 50px;
    opacity: 0.5;
    transition: all 1s;
}
.slide-controls:hover {
    opacity: 0.9;
}

.slide-controls .slide-control {
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 3px;
    transition: all .7s;
    /*-webkit-filter: blur(1px) grayscale(.9);*/
    -webkit-filter: grayscale(.95);
}
.slide-controls:hover .slide-control {
    -webkit-filter: grayscale(.1);
}
.slide-controls .slide-control:hover {
    -webkit-filter: none;
}

body.projector, 
body.projector h6, 
body.projector h5, 
body.projector .output-ace, 
body.projector .editor,
body.projector .inspector-json {
    font-size: 20px;
}
body.projector h4 {
    font-size: 1.25em;
}
body.projector h3 {
    font-size: 1.563em;
}
body.projector h2 {
    font-size: 1.953em;
}
body.projector h1 {
    font-size: 2.441em;
}

.errors:empty {
    display: none;
}

body > .container-fluid {
    padding: 0 15px;
}

.nav-slides > li {
    float: none;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
}
.navbar {
    width: 100%;
}
.navbar > li {
    z-index: 10;
}
@media (min-width: 768px) {
.navbar .slimScrollDiv {
    float: left;
}
}
.navbar .slimScrollDiv > ul {
    width: 100% !important;
}

iframe[data-pure] {
    background: #fff;
}
.nav-fiddle {
    opacity: 0.4;
    transition: opacity 1s;
}
.nav-fiddle:hover {
    opacity: 1.0;
}
.nav-fiddle.nav-tabs > li.active > a, .nav-fiddle.nav-tabs > li.active > a:hover, .nav-fiddle.nav-tabs > li.active > a:focus {
    background-color: #272822;
}
#fiddle-output {
    padding: 20px 0;
}

.ace_scrollbar {
    /*display: none;*/
    width: 6px !important;
}