iframe {
    width: 100%;
    height: 700px;
    border: none;
    background: none;
}
body.loaded, 
body.loaded h1, body.loaded h2, body.loaded h3, body.loaded h4, body.loaded h5, body.loaded h6, 
body.loaded #output-ace, body.loaded #editor, body.loaded #output-json {
    transition: font-size .5s;
}

#fiddle-output {
    height: 500px;
}
.editor {
    height: 270px;
    background-color: #272822;
}
#output, #output .editor {
    height: 150px;
}
#output-json {
    overflow: auto;
}
.inspector-json, #output-ace, #editor {
    font-size: 14px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.slide-controls {
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 0.5;
    transition: all 1s;
}
.slide-controls:hover {
    opacity: 0.9;
}

.slide-controls .slide-control {
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 3px;
    transition: all .7s;
    -webkit-filter: blur(1px) grayscale(.9);
}
.slide-controls:hover .slide-control {
    -webkit-filter: grayscale(.9);
}
.slide-controls .slide-control:hover {
    -webkit-filter: none;
}

body.projector, 
body.projector h6, 
body.projector h5, 
body.projector #output-ace, 
body.projector #editor, 
body.projector .inspector-json {
    font-size: 22px;
}
body.projector h4 {
    font-size: 1.25em;
}
body.projector h3 {
    font-size: 1.563em;
}
body.projector h2 {
    font-size: 1.953em;
}
body.projector h1 {
    font-size: 2.441em;
}

#errors:empty {
    display: none;
}

body > .container-fluid {
    padding: 0 15px;
}

.nav-slides > li {
    float: none;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
}
.navbar .slimScrollDiv {
    float: left;
}
.navbar .slimScrollDiv > ul {
    width: 100% !important;
}

.nav-fiddle {
    opacity: 0.4;
    transition: opacity 1s;
}
.nav-fiddle:hover {
    opacity: 1.0;
}
.nav-fiddle.nav-tabs > li.active > a, .nav-fiddle.nav-tabs > li.active > a:hover, .nav-fiddle.nav-tabs > li.active > a:focus {
    background-color: #272822;
}