.col-md-12

    .dm-paypage-container

        .row
            .col-md-12
                img.img-responsive.displayed(src="static/images/paypage/jsprog.jpg")

        .row
            .col-md-12
                .dm-title
                    h4 
                     | JavaScript dla Programistów
                .dm-paypage-separator         
                p 
                 | Warsztaty dla developerów Javy, PHP, Ruby i innych języków, którzy generują kod HTML na serwerze, a chcieliby pisać szybkie i nowoczesne web aplikacje (tzw. Single Page Apps) przy pomocy JavaScriptu.
                