.dm-space {
    position: relative;
    float: left;
    height: 100%;
}

.dm-spacesidebar {
    position: relative;
    height: 100%;
    float: left;
    background-color: rgb(30,30,30);
    overflow: hidden;
}

.dm-space, 
.dm-spacesidebar {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.dm-spacesidebar-right {
    height: 100%;
    
    li {
        width: 70px;
        text-align: center;
        a {
            border: 0;
            border-radius: 0;
            margin: 0;
        }
    }

    li.active a,
    li.active a:hover {
        background-color: rgb(86,171,205);
    }

    .tab-content {
        height: calc(~"100% - 42px");
        overflow-y: auto;
            
        .tab-pane {
            height: 100%;
        }
    }
}

.dm-space-toggle,
.dm-spacesidebar-right.active li {
    width: 50px;
    color: white;
    border-radius: 0;
}

.dm-space-accordion {
    .panel.panel, 
    .panel .panel-heading {
        border-radius: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .panel .panel-body {
        button {
            border-radius: 0;
            margin-bottom: 10px
        }
    }

    .panel .panel-heading {
        cursor: pointer;
        a {
            color: white;
        }
        
        .background {
            background-color: rgb(30,30,30);
            -webkit-transition: background-color 0.25s ease;
            transition: background-color 0.25s ease;
        }

        .background:hover {
            background-color: rgb(34,34,34);
        }

        .active, 
        .active:hover {
            background-color: rgb(86,171,205);
        }
    }

}

