.col-sm-12.full-height
    .row(ng-style='{"height": "calc(100% - " + bottombarHeight + ")"}')

        .dm-spacesidebar(ng-style='{"width": left.current}')
            .col-sm-12
                .row.clearfix
                    a.btn.pull-right.dm-space-toggle(ng-click='left.current = left.current === left.max ? left.min : left.max')
                        span.fa.fa-align-justify
            div(ng-style='{"width": left.max, "clear": "both"}')
                accordion.dm-space-accordion
                    accordion-group(ng-repeat='i in event.iterations', is-open='isOpen')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-dot-circle-o(ng-if='i.available')
                                        span.fa.fa-lock(ng-if='!i.available')
                                    h5 {{i.title}}
                        button.btn.btn-sm.btn-primary.col-xs-12(ng-repeat='material in i.materials', ui-sref='index.space.player({iteration: $parent.$index, material: material._id})')
                            span.fa.fa-film.pull-left
                            | {{material.title}}
                        button.btn.btn-sm.btn-default.col-xs-12(ng-repeat='task in i.tasks', ui-sref='index.space.todo({iteration: $parent.$index, todo: task._id})')
                            span.fa.fa-pencil.pull-left
                            | {{task.title}}

                    accordion-group(is-open='workspace.isOpen')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": workspace.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-dot-circle-o
                                    h5 Workspace
                        button.btn.btn-sm.btn-primary.col-xs-12(ng-click='openWorkspace()')
                            span.fa.fa-file.pull-left
                            | Otwórz
                                        
                        

                    //-accordion-group(ng-repeat='chapter in event.chapters', is-disabled='!editMode && !chapter.available', is-open='chapter.isOpen')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": chapter.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-dot-circle-o(ng-if='chapter.available')
                                        span.fa.fa-lock(ng-if='!chapter.available')
                                    h5 {{chapter.title}}
                        button.btn.btn-sm.btn-primary.col-xs-12(ng-click='selectedAudio(chapter.audio)') 
                            span.fa.fa-film.pull-left
                            | Odtwórz
                        button.btn.btn-sm.btn-default.col-xs-12(ng-repeat='todo in chapter.todos track by $index', ui-sref='index.space.todo({todo: todo})')
                            span.fa.fa-pencil.pull-left
                            | Zadanie


                    //-accordion-group(ng-repeat='audio in event.audios', is-disabled='!editMode && !audio.available', is-open='audio.isOpen')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": audio.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-film(ng-if='audio.available')
                                        span.fa.fa-lock(ng-if='!audio.available')
                                    h5 {{audio.title}}
                        div(ng-if='editMode')
                            input.pull-right(type='checkbox', ng-model='audio.available')
                        p {{audio.description}}
                        button.btn.btn-sm.btn-primary(ui-sref='index.space.player({index: $index})') Odtwórz



                    //-accordion-group(ng-repeat='todo in event.todos', is-disabled='!editMode && !todo.available', is-open='todo.isOpen')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": todo.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-pencil(ng-if='todo.available')
                                        span.fa.fa-lock(ng-if='!todo.available')
                                    h5 {{todo.title}}
                        div(ng-if='editMode')
                            input.pull-right(type='checkbox', ng-model='todo.available')
                        p {{todo.description}}
                        button.btn.btn-sm.btn-primary(ng-click='openWorkspace(todo)') Wykonaj 


        .dm-space(ng-style='{"width": "calc(100% - " + left.current + " - " + right.current + ")"}')
            .col-xs-12.full-height
                .row.full-height(ng-if='!showTutorial', ui-view='content')
                .row.full-height(ng-if='showTutorial')
                    | Hello World
                    

        .dm-spacesidebar(ng-style='{"width": right.current}')
            a.btn.pull-left.dm-space-toggle(ng-click='toggleRight()')
                span.fa.fa-align-justify
            tabset.dm-spacesidebar-right(ng-class='{"active": !right.opened}')
                tab(id='stream', active='tabs.stream', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-newspaper-o
                    .col-xs-12(ng-repeat='well in [1,2,3,4,5]')
                        .well Look, I'm in a well!
                tab(id='issues', active='tabs.issues', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-warning
                    .col-xs-12
                        h5 Gdzie umieszczać script?
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                        button.btn.btn-primary.btn-sm Pomagam
                        hr
                    .col-xs-12
                        h5 Gdzie umieszczać script?
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                        button.btn.btn-primary.btn-sm Pomagam
                        hr
                tab(id='chat', active='tabs.chat', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-wechat
                    dm-xplatform-chat(name='TESTER')
                tab(id='docs', active='tabs.docs', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-paperclip
    .row(ng-style='{"height": bottombarHeight}', ui-view='bottombar')

