.col-sm-12.full-height
    .row(ng-style='{"height": "calc(100% - " + bottombarHeight + ")"}')

        .dm-spacesidebar(ng-style='{"width": left.current}')
            .col-sm-12
                .row.clearfix
                    a.btn.pull-right.dm-space-toggle(ng-click='left.current = left.current === left.max ? left.min : left.max')
                        span.fa.fa-align-justify
            div(ng-style='{"width": left.max, "clear": "both"}')
                accordion.dm-space-accordion
                    accordion-group(is-open='question.isOpen')
                        accordion-heading
                            .row(ui-sref='index.space({event: event._id})')
                                .col-xs-12.background(ng-class='{"active": question.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-question-circle
                                    h5 Intro

                    accordion-group(ng-repeat='i in event.iterations', is-open='isOpen', is-disabled='!editMode && i.status !== "available"')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-dot-circle-o(ng-if='i.status === "available"')
                                        span.fa.fa-lock(ng-if='i.status != "available"')
                                    h5 {{i.title}}
                        &nbsp;
                        button.btn.btn-sm.btn-primary.col-xs-12(ng-repeat='material in i.materials', ui-sref='index.space.player({iteration: $parent.$index, material: material._id})')
                            span.fa.fa-film.pull-left
                            | {{material.title}}
                        button.btn.btn-sm.btn-default.col-xs-12(ng-repeat='task in i.tasks', ui-sref='index.space.todo({iteration: $parent.$index, todo: task._id})')
                            span.fa.fa-pencil.pull-left
                            | {{task.title}}

                    accordion-group(is-open='workspace.isOpen')
                        accordion-heading
                            .row(ng-click='openWorkspace()')
                                .col-xs-12.background(ng-class='{"active": workspace.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-wrench
                                    h5 Workspace
                        //-button.btn.btn-sm.btn-primary.col-xs-12(ng-click='openWorkspace()')
                            span.fa.fa-file.pull-left
                            | Otwórz
                    accordion-group(is-open='ranking.isOpen')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": ranking.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-bar-chart
                                    h5 Ranking


        .dm-space(ng-style='{"width": "calc(100% - " + left.current + " - " + right.current + ")"}')
            .col-xs-12.full-height
                .row.full-height(ng-if='!showTutorial', ui-view='content')
                .row.full-height(ng-if='showTutorial')
                    .col-md-6
                        .row
                            .col-xs-12
                                .course-background
                                    h4 Szkolenie
                                    hr
                                    h5 Każde szkolenie składa się z Iteracji
                                    p W każdej iteracji oglądasz przygotowany przez nas materiał oraz rozwiązujesz zadania.
                                    p 
                                        .btn.course-button
                                            span.fa.fa-dot-circle-o
                            .col-xs-12
                                .course-background
                                    h4 Twój Workspace
                                    hr
                                    h5 Tutaj rozwijasz swój projekt DevMeetingowy.
                                    p Projekty na DevMeetingu implementujemy na platformie. Poniższa ikonka kieruje Cię do Twojego prywatnego workspace'a, w którym rozwijasz projekt.
                                    p
                                        .btn.course-button.dropdown-toggle(type='button', data-toggle='dropdown')
                                            span.fa.fa-wrench

                    .col-md-6
                        .row
                            .col-xs-12
                                .course-background
                                    h4 WIFI
                                    hr
                                    h5 WRO_GUEST
                                    p 123123
                                    p
                                        .btn.course-button
                                            span.fa.fa-wifi
                            .col-xs-12
                                .course-background
                                    h4 Ranking
                                    hr
                                    h5 Status realizacji zadań - aktualizowany przez Was!
                                    p
                                        a.btn.course-button(href='https://docs.google.com/spreadsheets/d/1G1-j8UT5gGZQZ_DK8IYkkBrTZ7jr_22dIJmk529Swfw/edit#gid=0', target='_blank')
                                            span.fa.fa-bar-chart



                    

        .dm-spacesidebar(ng-style='{"width": right.current}')
            a.btn.pull-left.dm-space-toggle(ng-click='toggleRight()')
                span.fa.fa-align-justify
            tabset.dm-spacesidebar-right(ng-class='{"active": !right.opened}')
                tab(id='stream', active='tabs.stream', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-newspaper-o
                    .col-xs-12(ng-repeat='well in [1,2,3,4,5]')
                        .well Look, I'm in a well!
                tab(id='issues', active='tabs.issues', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-warning
                    .col-xs-12
                        h5 Gdzie umieszczać script?
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                        button.btn.btn-primary.btn-sm Pomagam
                        hr
                    .col-xs-12
                        h5 Gdzie umieszczać script?
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                        button.btn.btn-primary.btn-sm Pomagam
                        hr
                tab(id='chat', active='tabs.chat', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-wechat
                    dm-xplatform-chat(name='TESTER')
                tab(id='docs', active='tabs.docs', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-paperclip
    .row(ng-style='{"height": bottombarHeight}', ui-view='bottombar')

