.player-hide {
    display: none;
}

.player-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 0px 0px 20px;
}

.dm-player-content-left, 
.dm-player-content-right {
    height: calc(~'100% - 100px'); 
    overflow-y: hidden;
}
