.player-wrapper
    //dm-video.player-hide(dm-height='state.videoHeight', dm-auto-height='state.autoHeight', dm-src='chapter.videodata.url', dm-start-second='state.startSecond', dm-current-second='state.currentSecond', dm-is-Playing='state.isPlaying')
    dm-wavesufer(dm-start-second='state.startSecond', dm-current-second='state.currentSecond', dm-is-Playing='state.isPlaying')
    plugins-loader(namespace="'slide'", context="recordingPlayer.slide")
