.modal-body.clearfix
    h4 Gratulacje  
    hr
    p.pull-right
        a.btn.course-button.course-button-small(ng-click='ok()', analytics-category='{{content.title}}', analytics-on='click', analytics-event='finished.menu')
            &nbsp;
            span.fa.fa-arrow-right
            &nbsp;
    p
        a.btn.course-button.course-button-small(ng-click='cancel()', analytics-category='{{content.title}}', analytics-on='click', analytics-event='finished.stay')
            &nbsp;
            span.fa.fa-repeat
            &nbsp;

