//-p
    | remaining : {{state.length - (state.currentSecond - chapter.videodata.timestamp)}} 
    | length : {{state.length}}

.player-wrapper
    dm-video(dm-height='state.videoHeight', dm-auto-height='state.autoHeight', dm-controls, dm-src='chapter.videodata.url', dm-start-second='chapter.videodata.timestamp', dm-current-second='state.currentSecond', dm-is-Playing='state.isPlaying', ng-class='{"player-hide": !state.isPlaying}')
    plugins-loader(namespace="'slide'", context="recordingPlayer.slide", ng-class='{"player-hide": state.isPlaying}')
