.dm-player-content-left(ng-class='{"col-xs-10": showRight, "col-xs-12": !showRight}')
    plugins-loader(namespace="'slide'", context="recordingPlayer.slide", mode="player")
.dm-player-content-right(ng-class='{"col-xs-2": showRight}')
    .row.full-height
        dm-sidebar(context='recordingPlayer.slide', snippets='snippets', tasks='tasks', current-time='state.currentSecond', edit-method='editSnippet', delete-method='deleteSnippet') 
include ../dm-xplatform-player/dm-xplatform-player-bottombar.jade

