.modal-header
    h1
        | Gratulacje
.modal-body
    p
        | Właśnie ukonćzyłeś {{content.title}}
.modal-footer
    button.btn.btn-default(ng-click='cancel()')
        | Pozostań
    button.btn.btn-success(ng-click='ok()')
        | Dalej
