dm-video(dm-height='1000', dm-controls, dm-src='chapter.videodata.url', dm-start-second='videopreview.startSecond', dm-current-second='videopreview.currentSecond', dm-is-Playing='videopreview.isPlaying')
//plugins-loader(namespace="'slide'", context="recordingPlayer.slide")
