.col-xs-10.dm-slide-left
    plugins-loader(namespace="'slide'", context="recordingPlayer.slide", mode="player")
.col-xs-2.full-height
    .row.dm-slide-right 
        dm-sidebar(snippets='snippets', tasks='tasks', current-time='state.currentSecond')
include ../dm-xplatform-player/dm-xplatform-player-bottombar.jade

