.col-xs-10.player-left
    plugins-loader(namespace="'slide'", context="recordingPlayer.slide", mode="player")
.col-xs-2.full-height
    .row.player-right 
        dm-sidebar(context='recordingPlayer.slide', snippets='snippets', tasks='tasks', current-time='state.currentSecond', edit-method='editSnippet', delete-method='deleteSnippet') 
include ../dm-xplatform-player/dm-xplatform-player-bottombar.jade

