.editor {
  height: 240px;
  background-color: #272822;
}
.editor .ace_gutter {
  opacity: 0.6;
  transform: translateZ(0);
}
.editor-xs {
  height: 140px;
}
.editor-sm {
  height: 200px;
}
.editor-md {
  height: 280px;
}
.editor-lg {
  height: 350px;
}
.editor-xl {
  height: 450px;
}
.editor-xxl {
  height: 100%;
}
.errors:empty {
  display: none;
}
