.dm-xplatform-stream {
    padding: 30px 0px 0px 0px;
        
    .list-group {
        max-height: 100%;
    }

    .list-group-item {
        background-color: transparent;
        border-radius: 0px;
        border-width: 0px;
        min-height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        
        > div {
            left: 0px;
            bottom: 1px;
            background-color: transparent;
            height: 1px;
            position: absolute;
            width: 100%;
            padding: 0px 30px 0px 30px;
            > div {
                height: 1px;
                background-color: rgb(45,45,45);
                width: 100%;    

            }
        }
    }
    
    img {
        margin-right: 15px;    
        border: 1px solid #5b5b5b;
        border-radius: 2px;
    }
    
    .dm-stream-endorse {
        margin: 6px 0px 0px 0px;
    }

    i.fa {
        color: yellow;
        margin: 0px 3px 0px 0px;
    }

    span.dm-stream-blue {
        color: #5aabcb;
        cursor: pointer;
    }

    span.dm-stream-green {
        color: rgb(133,186,57);
        cursor: pointer;
    }
}
