.col-md-offset-1.col-md-10.dm-xplatform-stream
    .list-group
        a.list-group-item(ng-repeat='activity in stream.result', ng-init='details = detailsForActivity(activity)')
            img(gravatar-src='activity.owner.mail', gravatar-size='30', ui-sref='index.devhero({id: activity.owner.userId})')
            span.dm-stream-blue(ui-sref='index.devhero({id: activity.owner.userId})') {{activity.owner.name}}&nbsp;
            span {{details.text}}&nbsp;
            span.dm-stream-green(ui-sref='index.player.chapter({id: activity.data.linkId, index: "0", event: activity.data.eventId})') {{details.title}}    
            p.dm-stream-time(am-time-ago='{{activity._id | dmMongotime}}')
            div
                div

