style.
  .x-top-most {
    z-index: 100000;
  }

  .xplatform-navbar {
    //background-color: rgb(31,158,216);
    background-color: #224a70;
    border-radius: 0px;
    border-width: 0px;
    margin-bottom: 0px;
  }

  .xplatform-navbar-text {
    color: white !important;
  }

mixin layoutMenu(id, name)
  li(ui-sref-active="active")
    a(ui-sref="player({layout: '#{id}'})") #{name}

.navbar.navbar-inverse.xplatform-navbar
  .navbar-header
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand.index-xplatform-header(href='#')
      span.glyphicon.glyphicon-th-large.index-xplatform-logo
      | &nbsp;Xplatform
  .navbar-collapse.navbar-inverse-collapse.collapse(style="height: 1px")
    ul.nav.navbar-nav.navbar-right
      li
        img(gravatar-src="navbar.user.email", gravatar-size="50")
      li
        a.ng-cloak.xplatform-navbar-text(ui-sref="navbar.devhero")
          | {{navbar.user.name}}
      li
        a.xplatform-navbar-text(href="/logout")
          | Logout
div(ui-view='content')

