.col-md-12.dm-admin-div
    h2
        | Menu 
    .list-group
        a.list-group-item(ng-repeat='option in options', ui-sref="{{option.sref}}", ui-sref-active='active')
            | {{option.title}} 
.col-lg-12.col-md-12.dm-admin-div
    div(ui-view="content")
.col-lg-12.col-md-12.dm-admin-div
    div(ui-view="subcontent")
