.col-lg-12.dm-admin-div
    .panel
        .panel-heading
            h2
                | Trainings
        .panel-body
            .list-group(ui-sortable='updateTrainingsOrder', ng-model='trainings')
                a.list-group-item(ng-repeat='training in trainings', ui-sref='index.trainings.chapters({id: training._id})', ui-sref-active='active')
                    | {{training.title}}
        .panel-footer
            form.form-group(ng-submit='addTraining()')
                .input-group.input-group-sm
                    input.form-control(type='text', ng-model='trainingsData.title')  
                    span.input-group-btn
                        button.btn.btn-default(type='submit') 
                            | Add
.col-lg-12.dm-admin-div
    div(ui-view='training')
