.mainWindow {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-left: -1px;
    background-color: #2c2c2c;
}

.list-group {
    margin-bottom: 0;
}

.channelTree li {
    background-color: #2c2c2c;
}

.green {
    color: #008000;
}

.red {
    color: #FF0000;
}

.yellow {
    color: #c4c400;
}

li .channel {

}

li .user {
    color: #FFFFFF;
}

.client {
    padding: 5px;
}

.channel {
    color: #5aabcb;
}

a.setCurrentWriter {
    color: #ffffff;
    padding: 0 5px 0 8px;
}

a.setCurrentWriter:hover {
    color: #7DAA25;
}
