div

    script(type="text/ng-template", id="client")
        a(href="", ng-click="linkClient(client)", title="Powiąż z klientem Teamspeak")
            span
                i.glyphicon.glyphicon-user(ng-class="{linked: client.linked, unliked: !client.linked}")
            | {{client.client_nickname}}


    script(type="text/ng-template", id="channelTree")
        a(href="", ng-click="moveToChannel(channel)", title="Przejdź do pokoju")
            span
                i.glyphicon.glyphicon-comment
            | {{channel.name}}
        ul(ng-if="channel.clients")
            li.client(ng-repeat='client in channel.clients track by client.client_database_id', ng-include="'client'")
        ul(ng-if="channel.children")
            li.channel(ng-repeat='channel in channel.children track by channel.cid', ng-include="'channelTree'")

    ul.channelTree(ng-if="channelList")
        li(ng-repeat='channel in channelList', ng-include="'channelTree'")
