div.mainWindow

    script(type="text/ng-template", id="client")
        div
            span
                i.glyphicon.glyphicon-user(ng-class="{linked: client.isLinked, unliked: !client.isLinked}")
            span.user(title="{{client.nickTitle}}") &nbsp;{{client.nickShort}}

            span.pull-right
                button.btn.btn-xs(ng-class="{'btn-danger': client.isLinked, 'btn-success': !client.isLinked}", ng-if="!clientId && !client.isLinked || clientId == client.clid", ng-click="client.isLinked ? unlinkClient() : linkClient(client)", title="Powiąż/rozłącz z klientem Teamspeak")
                    span.glyphicon.glyphicon-link

                button.btn.btn-xs.btn-primary(ng-if="client.cid === userChannel.cid && client.isLinked  && !isUserAWriter(client.userId) && (isUserAWriter(userId) || isTrainer)", ng-click="setCurrentWriter(client.userId)", title="Ustaw {{client.nickShort}} jako moderatora")
                    span.glyphicon.glyphicon-pencil(ng-class="{linked: isUserAWriter(client.userId), unliked: !isUserAWriter(client.userId)}")

                button.btn.btn-xs.btn-primary(ng-if="client.cid === userChannel.cid && client.isLinked && isUserAWriter(client.userId) && client.userId !== userId", title="Aktualny moderator")
                    span.glyphicon.glyphicon-pencil.linked

                button.btn.btn-xs.btn-primary(ng-if="client.cid === userChannel.cid && client.isLinked && isUserAWriter(userId) && client.userId === userId", title="Jesteś moderatorem")
                    span.glyphicon.glyphicon-pencil.linked

    script(type="text/ng-template", id="channelTree")
        div(style="padding:5px")
            a(href="", ng-click="moveToChannel(channel)", title="Przejdź do pokoju")
                span.channel {{channel.name}}
            span.pull-right
                button.btn.btn-xs.btn-danger(title="Move all users", ng-if="isTrainer", href="", ng-click="moveAllClientsToChannel(channel)")
                    span.glyphicon.glyphicon-bullhorn

        .list-group(ng-if="channel.clients")
            a.list-group-item.clearfix.client(ng-repeat='client in channel.clients', ng-include="'client'")
        ul.list-group(ng-if="channel.children")
            li.channel.list-group-item(ng-repeat='channel in channel.children track by channel.cid', ng-include="'channelTree'")

    .container
        .panel.panel-default
            .panel-heading Rooms
                span.pull-right
                    button.btn.btn-xs.btn-primary(title="Return to rooms", ng-if="isTrainer", href="", ng-click="restoreClientsChannels()")
                        span.glyphicon.glyphicon-download
            ul.list-group.channelTree(ng-if="channelList")
                li.list-group-item(ng-repeat="channel in channelList", ng-include="'channelTree'")
            .panel-body(ng-if="!channelList") Loading...
