div.mainWindow

    script(type="text/ng-template", id="client")
        div
            span
                i.glyphicon.glyphicon-user(ng-class="{linked: client.isLinked, unliked: !client.isLinked}")
            span.user(title="{{client.nickTitle}} (It's You!)", ng-if="clientId == client.clid") &nbsp;{{client.nickShort}}
            span.user(title="{{client.nickTitle}}", ng-if="clientId != client.clid") &nbsp;{{client.nickShort}}

            span.pull-right
                button.btn.btn-xs(ng-class="{'btn-danger': client.isLinked, 'btn-success': !client.isLinked}", ng-if="(!clientId && !client.isLinked) || clientId == client.clid", ng-click="client.isLinked ? unlinkClient() : linkClient(client)", title="Link/Unlink with Teamspeak client")
                    span.glyphicon.glyphicon-link

                button.btn.btn-xs.btn-primary(ng-if="client.cid === userChannel.cid && client.isLinked  && !isUserAWriter(client.userId) && (isUserAWriter(userId) || isTrainer)", ng-click="setCurrentWriter(client.userId)", title="Set {{client.nickTitle}} as moderator")
                    span.glyphicon.glyphicon-pencil(ng-class="{linked: isUserAWriter(client.userId), unliked: !isUserAWriter(client.userId)}")

                button.btn.btn-xs.btn-primary(ng-if="client.cid === userChannel.cid && client.isLinked && isUserAWriter(client.userId) && client.userId !== userId", title="Active moderator")
                    span.glyphicon.glyphicon-pencil.linked

                button.btn.btn-xs.btn-primary(ng-if="client.cid === userChannel.cid && client.isLinked && isUserAWriter(userId) && client.userId === userId", title="You are moderator")
                    span.glyphicon.glyphicon-pencil.linked

    script(type="text/ng-template", id="channelTree")
        div(style="padding:5px")
            button.btn.btn-xs.btn-primary(ng-click="moveToChannel(channel)", title="Enter {{channel.name}}")
                span {{channel.name}}
            span.pull-right
                button.btn.btn-xs.btn-danger(title="Move all users here", ng-if="isTrainer", href="", ng-click="moveAllClientsToChannel(channel)")
                    span.glyphicon.glyphicon-arrow-left

        .list-group(ng-if="channel.clients")
            a.list-group-item.clearfix.client(ng-repeat='client in channel.clients', ng-include="'client'")
        ul.list-group(ng-if="channel.children")
            li.channel.list-group-item(ng-repeat='channel in channel.children track by channel.cid', ng-include="'channelTree'")

    .container
        .panel.panel-default
            .panel-heading Rooms
                span.pull-right
                    button.btn.btn-xs.btn-primary(title="Restore users to their rooms", ng-if="isTrainer", href="", ng-click="restoreClientsChannels()")
                        span.glyphicon.glyphicon-share-alt
            ul.list-group.channelTree(ng-if="channelList")
                li.list-group-item(ng-repeat="channel in channelList", ng-include="'channelTree'")
            .panel-body(ng-if="!channelList") Loading...
