.mainWindow {
    background: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

ul.channelTree, .channelTree ul {
    padding: 0 5px 0 5px;
    list-style-position: inside;
}

.channelTree ul li, .channelTree ul li ul li {
    padding: 0;
}

.mainWindow li > a, .mainWindow li > ul > li > a {
    padding: 0;
}

.channelTree li {
    list-style-type:none;
    margin:0;
    padding:5px 2px 0 5px;
    position:relative;
}

.channelTree li span {
    padding:3px 8px;
}

.linked {
    color: #008000;
}

.unliked {
    color: #FF0000;
}

li .channel {

}

li .user {
    color: #FFFFFF;
}
