ul.channelTree, .channelTree ul {
    padding: 0 10px 0 10px;
}

.channelTree li {
    list-style-type:none;
    margin:0;
    padding:5px 2px 0 5px;
    position:relative;
}

.channelTree li span {
    padding:3px 8px;
}

.linked {
    color: #008000;
}

.unliked {
    color: #FF0000;
}

li .channel {

}

li .user {
    color: #FFFFFF;
}
