div
    .modal-body
        .alert.alert-danger(role="alert")
            strong You have been moved!
        .well-lg
            | Please listen carefully what trainer is saying.
            br
            span Soon You will be moved back to your workspace.
