.col-lg-3.col-md-3.dm-admin-div
    .panel
        .panel-heading
            h2
                | {{title}}
        .panel-body
            .list-group
                a.list-group-item(ng-repeat='training in trainings')
                    | {{training.title}}
        .panel-footer

