.paypage-progress-holder {

	.progress {
		background-color: #5C5858;
		height: 24px;
	}	
	.progress-bar {
		font-size: 16px;
		line-height: 24px;
	}
}



.paypage-radio-holder {
	margin: 10px;
	font-size: 14px;
}