.col-md-12.dm-paypage-container

	.row
		.col-md-12
			.paypage-progress-holder
				.progress
					.progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
						| 60%


		.col-md-12.paypage-radio-holder
			| Tak, chcę ten kurs zapłacę za niego:
			.form-group
				.col-md-12
					.radio
						label(for='radios-1')
							input#radios-1(type='radio', name='radios')
							| 10 PLN
					.radio
						label(for='radios-2')
							input#radios-2(type='radio', name='radios')
							| 25 PLN
					.radio
						label(for='radios-3')
							input#radios-3(type='radio', name='radios')
							| 50 PLN
					.radio
						label(for='radios-4')
							input#radios-4(type='radio', name='radios')
							| 100 PLN

		.col-md-12
			button.btn.btn-success(type='button') 
				| Ok
