.dm-paypageprice-container {
    padding: 10px 30px 30px 30px;
    margin: 0 auto;
}
.paypageprice-progress-holder {

    .progress {
        background-color: #5C5858;
    	height: 24px;
        margin-bottom: 10px;
    }	
    
    .progress-bar {
        font-size: 16px;
    	line-height: 24px;
    }
}



.paypageprice-radio-holder {
    font-size: 14px;
    
    .prices {
        margin-top: 10px;    
    }

    .prices .pay-left {
        padding: 0px 10px 20px 5px;
    }
    .prices .pay-right {
        padding: 0px 0px 20px 10px;
    }

    .prices .pay-mid {
        padding: 0px 0px 10px 5px;    
    }
}

.btn-abo {
    margin: 20px 0px 10px 0px;
}

.paypagethanks {
    background: none;
}

