.dm-paypageprice-container {
    padding: 30px;
    margin: 0 auto;
}
.paypageprice-progress-holder {

	.progress {
		background-color: #5C5858;
		height: 24px;
	}	
	.progress-bar {
		font-size: 16px;
		line-height: 24px;
	}
}



.paypageprice-radio-holder {
	margin: 10px;
	font-size: 14px;

	.prices .row {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

.btn-abo {
	margin: 20px 0;
}



.paypageprice-radio-holder .col-md-12.btn-group .btn-group-sm {
	margin-top: 20px;
}

.paypageprice-radio-holder .col-md-12 .btn-ok {
	margin-top: 40px;
}