.col-md-12
	.jumbotron.paypagethanks
		h1 Dziękujemy za Twój głos

		p Dziękujemy za zainteresowanie naszymi kursami. Aktualnie zbieramy informacje na temat kursów, których oczekują użytkownicy Xplatform.
		p Zostaniesz poinformowany, kiedy kursy będą dostępne.

		p
			button.btn.btn-primary.btn-lg(role='button', ui-sref="index.courses",
				analytics-on="click", analytics-category="pay.thankyou", analytics-event="more")
				| Zobacz pozostałe kursy
				span.fa.fa-chevron-right