extends ../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='/static/xplatform/xplatform-config.js')

block content
  div(ui-view='navbar')

