.bitcoin-button
    a.coinbase-button(
      data-code="874bd874065865284ce04e6d52d79e70" 
      data-button-style="donation_small" 
      href="https://coinbase.com/checkouts/874bd874065865284ce04e6d52d79e70")
      | Donate Bitcoins
    script(src="https://coinbase.com/assets/button.js", async)