.dm-player-finish {
  
  .modal-body {
    padding: 0;
  }

  .with-padding {
    padding: 4em;
  }

  .player-buttons {
    display: flex;
    > * {
      flex: 1;
    }
    .btn {
      border-radius: 0;
      margin-top: 0;
    }

    span.fa.direction {
      height: 100%;
      display: inline-block;
      margin: 5px;
    }
  }

}
