extends ../layout

append scripts
  script(src='/static/components/requirejs/require.js', data-main='/static/js/app')

block content
  div(ng-controller="SlidesDisplayCtrl")
    layout-loader(layout='presentation-layout-std', data='slides')
    
