.dm-annos {
  overflow-y: auto;
}

.dm-annos-subs .dm-annos-item:first-child {
  font-size: 1.2em;
  color: #eee;
}

.dm-annos-search {
  margin: 10px 0 10px 0;
  input {
    border-radius: 0;
    border: 0;
  }
}

.dm-annos-item.dm-annos-item {
  border-radius: 0;
}
