div.text-muted.layout-chooser
  span.fa.fa-code(ng-click="showLayoutChooser = !showLayoutChooser")
  select(ng-model="layout.name", ng-show="showLayoutChooser", ng-change="showLayoutChooser = false")
    option(value="tabs") Classic
    option(value="tabs-v") Classic V
    option(value="angular") Angular
    option(value="html-js") HTML+JS
    option(value="three") Three
    option(value="three-long") Three Long
    option(value="grid") Grid
    option(value="equal") Split

.slide-workspace.full-height(dm-defer="500")
  .full-height(ng-if="layout.name === 'tabs'")
    include ./layout/workspace-layout-old
  .full-height(ng-if="layout.name === 'tabs-v'")
    include ./layout/workspace-layout-tabs-v
  .full-height(ng-if="layout.name === 'angular'")
    include ./layout/workspace-layout-angular
  .full-height(ng-if="layout.name === 'html-js'")
    include ./layout/workspace-layout-html-js
  .full-height(ng-if="layout.name === 'three'")
    include ./layout/workspace-layout-three
  .full-height(ng-if="layout.name === 'three-long'")
    include ./layout/workspace-layout-three-long
  .full-height(ng-if="layout.name === 'grid'")
    include ./layout/workspace-layout-grid
  .full-height(ng-if="layout.name === 'equal'")
    include ./layout/workspace-layout-equal
