.row.microtask-holder(ng-class='{"microtask-active": !ngFinished}')
    .microtask-col
        .microtask-img
            img(src="static/images/microtask/mt_completed.png")

    .microtask-content 
        .microtask-desc
            | Przypisz tytuł zadania do zmiennej 
            code title
        .microtask-user 
            img(src="static/images/microtask/mt_user.png") 
            img(src="static/images/microtask/mt_user.png") 
            img(src="static/images/microtask/mt_user.png") 
            span.microtask-user-amount +2
            span.microtask-user-done
                | 10 znajomych zrobiło zadanie
.row.microtask-border-up
.row.microtask-border-down