.section-slides {
  position: relative;
  height: ~"calc(100% - 30px)";
  background-color: darken(@color-gray25, 7%);
  color: @color-white-o;
  font-size: 1.1rem;


  .section-slides__download {
    position: fixed;
    top: 0;
    right: 5%;
  }
}
