.col-xs-12.dm-slide-left(
  ng-init='$root.modes.isTaskMode=true',
  ng-class="{'warning-content': isColoured }",
)
  dm-recorder-context(recorder='recorder', workspace-id='workspaceId')
    plugins-loader.full-height(namespace="'slide'", context="slide.slide", mode="mode", path='.', recorder='recorder')

