.col-xs-12.dm-slide-left(
  ng-init='$root.modes.isTaskMode=true',
  ng-class="{'warning-content': !!slideWarningType && slideWarningType !== 'workspace' }"
)
    plugins-loader.full-height(namespace="'slide'", context="slide.slide")

