div.col-lg-12.col-md-12.dm-table-container
    table.table.dm-table
        tr     
            th Temat szkolenia
            th Data
            th Trener
            th Zadania
            th Uczestnicy
            th 
        
