.modal-body
    .panel.panel-default
        .panel-heading
            h4 {{question.title}}
            p {{question.description}} 

        .panel-body.dm-answers(ng-if='question.comments.length > 0')
            .row
                .list-group
                    .list-group-item(ng-repeat='comment in question.comments')
                        p {{comment}}
        
        .panel-footer
            form(ng-submit='createComment()')
                .form-group
                    textarea.form-control(ng-model='comment.text', rows='3', requied)
                button.btn.btn-sm.btn-primary(type='submit') Send
                    

