.row
  .col-md-9
    h1 
      span.text-success
        span.glyphicon.glyphicon-check
      |  Objectives
    ol
      li(ng-repeat="o in task.objectives")
        h4(ng-bind-html="o")
    h2
      span.text-danger
        span.glyphicon.glyphicon-asterisk
      |  Extra objectives
    ol
      li(ng-repeat="o in task.extras")
        h4(ng-bind-html="o")
  .col-md-3
    h1 
      span.glyphicon.glyphicon-time
      | 
      span.text-warning.task-time-left
        span(ng-hide="timerState.isRunning") {{ task.duration }}
        span(ng-show="timerState.isRunning") {{ timerState.timeLeft / 60 / 1000 | number:1 }}
      span.text-warning
        |  min

      button.task-start-btn.btn.btn-default.pull-right(tooltip="Start task", ng-click="timerState.start()", ng-hide="timerState.isRunning")
        span.glyphicon.glyphicon-play
      button.task-start-btn.btn.btn-danger.pull-right(tooltip="Stop timer", ng-click="timerState.stop()", ng-show="timerState.isRunning")
        span.glyphicon.glyphicon-stop
    hr
    h2
      span.glyphicon.glyphicon-play
      | 
      span.task-start-time {{ timerState.startTime | date:'H:mm' }}
    h2
      span.glyphicon.glyphicon-pause
      | 
      span.task-end-time {{ timerState.endTime | date:'H:mm' }}