.dm-xplatform-observed {
    padding: 0px;

    .dm-observed-title {
        color: rgb(196,196,196);
        margin: 30px 0px 10px 30px;
    }

    .list-group {
        max-height: 100%;
        overflow-y: auto;
    }

    .list-group-item {
        border-radius: 0px;
        background-color: transparent;
        border-width: 0px;
        padding-left: 30px;
        height: 50px;
        img {
            margin-right: 20px;
            border-radius: 2px;
            border: 1px solid #5b5b5b;
        }
        > div {
            left: 0px;
            bottom: 1px;
            background-color: transparent;
            height: 1px;
            position: absolute;
            width: 100%;
            padding: 0px 30px 0px 30px;
            > div {
                height: 1px;
                background-color: rgb(45,45,45);
                width: 100%;    

            }
        }
    }

}
