.col-md-12.dm-xplatform-observed
    div.dm-observed-title
        | Osoby, które śledzisz
    .list-group
        a.list-group-item(ng-repeat='user in observed', ui-sref='index.devhero({id: user.userId})')
            img(ng-src='{{user.avatar | dmGravatar:25}}')
            span
                | {{user.name}}
            div
                div
