.dm-todo-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.dm-spacesidebar-left {
  .dm-external-link {
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 10;
    color: #3f3f3f;
    transition: color .5s ease-in-out;

    &:hover {
      color: #ddd;
    }
  }
}
