extends layout
block content
  .panel.panel-primary
    .panel-heading
      h3.panel-title WiFi
    .panel-body
      if networks
        h3 Networks
        textarea.form-control(rows=10)=networks  

      form(action="/", method="post")
        button.btn.btn-default.btn-block(type="submit")
          | Scan

      h3 Change
      form(action="/wifi", method="post")
        .form-group
          label.form-label SSID
          input.form-control(type="text", name="ssid", value=wifi.ssid)
        .form-group
          label.form-label Password
          input.form-control(type="text", name="psk", value=wifi.psk)
        .form-group
          button.btn.btn-primary.btn-block(type="submit")
            | Apply & Reconnect
