extends layout

block content
  .panel.panel-primary
    .panel-heading
      h3.panel-title MongoDB
    .panel-body
      textarea.form-control(rows="15")=mongo

  .panel.panel-primary
    .panel-heading
      h3.panel-title XPlatform
    .panel-body
      textarea.form-control(rows="15")=xpla

  .panel.panel-primary
    .panel-heading
      h3.panel-title Nginx
    .panel-body
      textarea.form-control(rows="15")=nginx


