.dm-question-modal {
    .modal-content,
    button,
    input,
    textarea,
    .panel-heading, 
    .panel-footer {
        border-radius: 0;
    }

    .dm-answers {
        max-height: 200px;
        overflow-y: auto;
    }
}
    
.dm-question-item.dm-question-item {
    border-radius: 0;
}
.questions-list {
    font-size: 14px;
    padding: 0 5px;
    .nav > li {
        margin-top: 0;
    }
    li > a {
        border-top: 1px solid lighten(#1E1E1E, 10%);
        padding: 5px 10px;
    }
    li.active > a {
        background-color: #5d5959;

        &:hover {
            background-color: lighten(#5d5959, 10%); 
        }
    }
    form {
        margin-top: 10px;
        margin-left: 15px;
    }

    li > ul {
        font-size: 13px;
        margin-left: 15px;
        border-left: #666;
    }
}

