.dm-question-modal {
    .modal-content,
    button,
    input,
    textarea,
    .panel-heading, 
    .panel-footer {
        border-radius: 0;
    }

    .dm-answers {
        max-height: 200px;
        overflow-y: auto;
    }
}
    
.dm-question-item.dm-question-item {
    border-radius: 0;
}
