.list-group
    .list-group-item
        h4 Gdzie umieszczać script?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
        button.btn.btn-primary.btn-sm(ng-click='showAnswers()') Pomagam
    .list-group-item
        h4 Gdzie umieszczać script?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
        button.btn.btn-primary.btn-sm(ng-click='showAnswers()') 8 odpowiedzi

