.microtasks
  .microtask.alert(ng-repeat="task in microtasks", 
    tooltip-html-unsafe="{{ task.hint }}", tooltip-placement="left",
    ng-class="{'alert-danger': !task.completed, 'alert-success': task.completed }")
    span.microtask-status
      span.glyphicon.glyphicon-ok(ng-show="task.completed")
      span.glyphicon.glyphicon-question-sign.text-warning(ng-show="!task.completed")
    span &nbsp;
    span.microtask-text(ng-bind-html="task.description")
