.slide-leftright
  .slide-left
    plugins-loader(namespace="'slide'", context="left", path="{{path}}")
  .slide-right
    plugins-loader(namespace="'slide'", context="right", path="{{ getRightPath(path) }}")
