.dm-slide-left,
.dm-slide-right {
    height: 100%;
    overflow-y: auto;
}

.dm-slide-right {
    background-color: rgb(31,31,31);
}

.no-border-radius {
    border-radius: 0px !important;
}

.dm-slide-active {
    background-color: rgb(55,55,55);
}

