.dm-slide-left,
.dm-slide-right {
    height: 100%;
    overflow-y: auto;
}

.dm-slide-right {
    background-color: rgb(31,31,31);
}

.no-border-radius {
    border-radius: 0px !important;
}

.dm-slide-active {
    background-color: rgb(55,55,55);
}

.dm-chat-iframe {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}

.dm-chat-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;

}

