.col-xs-9.dm-slide-left(ng-init='$root.modes.isTaskMode=true')
    plugins-loader.full-height(namespace="'slide'", context="slide.slide")
.col-xs-3.full-height(ng-init='$root.modes.isTaskMode=true')
    .row.dm-slide-right
        plugins-loader(namespace="'slide.sidebar'", context="slide.content")
        .list-group
            .list-group-item(ng-if='userSlide === false')
                .alert.alert-danger
                    h4 Uwaga
                    p Ten slajd nie należy do Ciebie. Wciśnij save, aby zapisać zmiany.
            a.list-group-item.clearfix.no-border-radius
                form.form-horizontal
                    fieldset
                        .form-group
                            .col-xs-2
                                button.btn.btn-sm.btn-primary(type='button', ng-click='saveSlide()') Save
                            .col-xs-10
                                input.form-control.input-sm(type='text', ng-model='saveTitle', placeholder='tytuł')


            .list-group-item.clearfix.no-border-radius(ng-repeat='save in saves | orderBy: "-timestamp"', ng-class='{"dm-slide-active": slideId === save._id}')
                button.btn.btn-sm.btn-danger.pull-right(type='button', ng-click='deleteSave(save, $event)') delete
                p
                    a(ui-sref='index.task({slide: save._id})', ui-sref-active='active') {{save.title}} &nbsp;
                span(am-time-ago='{{save.timestamp}}')

        span.fa.fa-weixin.fa-2x.dm-chat-icon(ng-click='showChat = !showChat')
.col-md-offset-6.col-md-3(ng-show='showChat')
    .row
        iframe.dm-chat-iframe(src='http://localhost:9000')

