mixin slidesMixin()
    li(ng-repeat="slide in slides", ng-class="{ 'active' : slide._id === csm.activeSlideId}")
        a(href='\#{{slide._id}}') {{ slide.content.name }}


nav.navbar.navbar-default.navbar-slides.navbar-fixed-bottom(role='navigation')
    .navbar-header
        ul.nav.navbar-nav.navbar-left
            li
                a.text-muted.cursor-pointer 
                    span.glyphicon.glyphicon-th-large
    div.slimScrollDiv(style="position: relative; width: calc(100% - 120px); height: 45px; overflow-x: visible; overflow-y: hidden; white-space: nowrap;") 
        ul.nav.navbar-nav.nav-slides(ng-if="$root.modes.isEditMode", ui-sortable="sortableOptions", ng-model="slides")
            mixin slidesMixin() 
        ul.nav.navbar-nav.nav-slides(ng-if="!$root.modes.isEditMode", ng-model="slides")
            mixin slidesMixin()
    ul.nav.nav-new-slide.cursor-pointer(ng-if="$root.modes.isEditMode")
        li
            a.btn.btn-link(ng-click="addSlide()")
                span.glyphicon.glyphicon-plus
        li
            a.btn.btn-link(ng-click="cloneSlide()")
                span.fa.fa-copy                        

