mixin slidesMixin()
    li(ng-repeat="slide in slides", ng-class="{ 'active' : slide._id === csm.activeSlideId}")
        a(href='\#{{slide._id}}') {{ slide.content.name }}


nav.navbar.navbar-default.navbar-slides(role='navigation')
    .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-slides")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        ul.nav.navbar-nav.navbar-left
            li
                a.text-muted.cursor-pointer 
                    span.glyphicon.glyphicon-th-large

    #navbar-slides.collapse.navbar-collapse
        div.slimScrollDiv(style="position: relative; width: calc(100% - 60px); height: 40px; overflow-x: visible; overflow-y: hidden; white-space: nowrap;") 
            ul.nav.navbar-nav.nav-slides(ng-if="$root.modes.isEditMode", ui-sortable="sortableOptions", ng-model="slides")
                mixin slidesMixin() 
            ul.nav.navbar-nav.nav-slides(ng-if="!$root.modes.isEditMode", ng-model="slides")
                mixin slidesMixin()
        ul.nav.nav-new-slide.cursor-pointer(ng-if="$root.modes.isEditMode")
            li
                a.btn.btn-link(ng-click="addSlide()")
                    span.glyphicon.glyphicon-plus
            li
                a.btn.btn-link(ng-click="cloneSlide()")
                    span.fa.fa-copy                        

