.dm-wavesurfer(ng-click='waveClicked($event)')
    audio
    .dm-wavesurfer-range(
        ng-repeat='range in ranges',
        style='left: {{(range.start / duration) * 100 }}%; width: {{(range.end - range.start) / dmDuration * 100}}%')
    .dm-wavesurfer-position(
        style='width: {{(dmCurrentSecond / duration) * 100}}%;'
        )

