div.col-lg-12.col-md-12.dm-table-container
    table.table.dm-table
        tr
            th Temat szkolenia
            th Technologia
            th Ukonczyli tutorial 
        tr(ng-repeat='event in events | filter: xplatformData.navbar.searchText | orderBy: "title"')
            td.dm-table-blue
                p(ui-sref='index.player.chapter({id: event.trainingId, index: "0", event: event._id})') {{event.title}}
            td.dm-table-green
                p.green {{event.technology}}
            td.dm-table-avatars 
                div 
                    img(ng-repeat='user in event.peopleFinished | limitTo: 4', gravatar-src='user.mail', gravatar-size='25', ui-sref='index.devhero({id: user.userId})')
                    span(ng-if='event.peopleFinished.length > 4', ng-click='showUsers(event.peopleFinished)') + {{event.peopleFinished.length - 4}}
