extends ../layouts/main

block content
    .container
        .login-holder
            .login-padding
                form(action="/auth/login", method="post")
                    .login-header
                        | Logowanie
                        span.registration-holder.pull-right
                            a(href="/registration") 
                                | Rejestrajca

                    .form-group
                        .ico-holder
                            img.ico-sub.ico-user(src='static/images/login/ico_user.png')
                        input.form-control.form-login(type="email", name="email", placeholder="e-mail")

                    .form-group
                        .ico-holder
                            img.ico-sub.ico-password(src='static/images/login/ico_password.png')
                        input.form-control.form-login(type="password", name="password", placeholder="password")
                        .ico-holder
                            span.password-forgot 
                                a(href="/passwordForgot") 
                                    | Zapomniałeś hasła?

                    .form-group
                        .checkbox-option.pull-left
                            ul
                                li
                                  input#rememberMe(type='checkbox')
                                  label(for='rememberMe')
                                    span
                                    | Zapamiętaj mnie
                        button.btn.btn-log.pull-right(type="submit")
                            | Zaloguj


                    //- .form-group
                    //-     .checkbox-option.pull-left
                    //-         ul
                    //-             li
                    //-               label
                    //-                 span
                    //-                 | Nie masz konta?

                    //-     a.btn.btn-log.pull-right(href="/registration")
                    //-         | Rejestrajca




      
            br
            br 
            br 

            .form-auth
                .gp-auth-holder
                    a(href="/auth/google")
                        img(src='static/images/login/ico_googleplus.png')
                        | logowanie

                .fb-auth-holder
                    a(href="/auth/facebook")
                        img(src='static/images/login/ico_facebook.png')
                        | logowanie 

                .gith-auth-holder
                    a(href="/auth/github")
                        img(src='static/images/login/ico_github.png')
                        | logowanie 


                //- .form-group
                //-     .ico-holder

                //-     p
                //-         | Don't have an account yet?
                //-         |   
                //-         a.text-primary(href="/registration") 
                //-             strong Sign up now!
              
            //- .col-md-6.col-md-offset-3
            //-     form.well(action="/auth/login", method="post")
            //-         .form-group.text-right
            //-             p
            //-                 | Don't have an account yet?
            //-                 |   
            //-                 a.text-primary(href="/registration") 
            //-                     strong Sign up now!
            //-         hr
            //-         .form-group
            //-             label.form-label Email
            //-             input.form-control(type="email", name="email")
            //-         .form-group
            //-             label.form-label Password
            //-             input.form-control(type="password", name="password")
            //-         hr
            //-         .form-group.text-center
            //-             button.btn.btn-lg.btn-primary(type="submit") Log in
            //-             a.btn.btn-lg.btn-primary(href="/auth/google")
            //-                 span.fa.fa-google-plus-square
            //-             a.btn.btn-lg.btn-primary(href="/auth/facebook")
            //-                 span.fa.fa-facebook-square
            

                    //-     label.form-label Password
                    //-     input.form-control(type="password", name="password")
                    //- hr
                    //- .form-group.text-center
                    //-     button.btn.btn-lg.btn-primary(type="submit") Log in
                    //-     a.btn.btn-lg.btn-primary(href="/auth/google")
                    //-         span.fa.fa-google-plus-square
                    //-     a.btn.btn-lg.btn-primary(href="/auth/facebook")
                    //-         span.fa.fa-facebook-square
                    //-     a.btn.btn-lg.btn-primary(href="/auth/github")
                    //-         span.fa.fa-github-square