.dm-workshopdesc-container {
    padding: 30px;
    margin: 0 auto;


    .dm-workshopdesc-separator {
        background-color: rgb(45,45,45);
        height: 1px;
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    img {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #5b5b5b;
        margin-right: 30px;
    }

    .dm-workshopdesc-description {
        line-height: 1.7em;
    }

}


.dm-title {
    margin-top: 20px;
}