.col-md-12

    .dm-workshopdesc-container
        .row
            .col-md-12
                img.img-responsive.displayed(ng-src="{{course.image}}")

        .row
            .col-md-12
                .dm-title
                    h4 
                    | {{course.title}}
                .dm-workshopdesc-separator         
                p(marked="course.description")
                    | {{course.description}}
                