.slide-workspace {
	.editor {
		position: relative;
	}

    .workspace-tab {
        border-radius: 0px;
    }

    .workspace-tab-active {
        background-color: rgb(44,44,44);
    }



}

.scrollable-container {
    height: 100%;
    overflow-y: auto;
}

