div.text-muted(
    style="position: absolute; bottom: 0; left: 0; z-index:1000"
  )
  span.fa.fa-code(ng-click="showLayoutChooser = !showLayoutChooser")
  select(ng-model="layout", ng-show="showLayoutChooser")
    option(value="old") Classic
    option(value="angular") Angular
    option(value="html-js") HTML+JS

.slide-workspace.full-height
  .full-height(ng-if="layout === 'old'")
    include ./layout/workspace-layout-old
  .full-height(ng-if="layout === 'angular'")
    include ./layout/workspace-layout-angular
  .full-height(ng-if="layout === 'html-js'")
    include ./layout/workspace-layout-html-js
