.slide-workspace {
    .sw-col {
        transition: width 0.4s ease;
    }
	.editor {
		position: relative;
	}

    .workspace-tab {
        border-radius: 0px;
        position: relative;

        .workspace-tab-close, .workspace-tab-edit {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            padding: 0;
            transition: opacity 0.3s;
        }
        .workspace-tab-edit {
            top: auto;
            bottom: 0;
            font-size: 7px;
            font-weight: normal;
        }
        &:hover {
            .workspace-tab-close, .workspace-tab-edit {
                opacity: 0.7;
            }
        }
    }

    .workspace-sidebyside {
            margin-right: 60px;
    }
    .side-by-side {
        .workspace-sidebyside {
            margin-right: 0;
        }
    }


    .workspace-tab-output a {
        border: 1px solid #222;
        background-color: #777;

        :hover {
            background-color: #555;
        }
    }

    .workspace-tab-active {
        background-color: rgb(44,44,44);
    }

    .tab-content {
        height: calc(~'100% - 40px');    
        overflow: hidden;
    }

    .visible {
        display: block;
    }

}

.slide-workspace-outputs {
    position: relative;
    display: block;
}

.iframe-fiddle-output {
    width: 100%;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 300px;
    z-index: 1;


    &.fadeOut {
        transition: opacity 0.4s;
        opacity: 0;
    }

    &.onBottom {
        z-index: 0;
    }

    &.hidden {
        display: none;
    }

    &.frame-background {
        background: #777;
    }
}


.scrollable-container {
    height: 100%;
    overflow-y: auto;
}

.output-new-window {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    opacity: 0.1;

    &:hover {
        opacity: 1.0;
    }
}

