.slide-workspace {
	.editor {
		position: relative;
	}

    .workspace-tab {
        border-radius: 0px;
    }

    .workspace-tab-active {
        background-color: rgb(44,44,44);
    }

    .tab-content {
        height: calc(~'100% - 40px');    
        overflow: hidden;
    }


}

.scrollable-container {
    height: 100%;
    overflow-y: auto;
}

