.row
  .col-md-5.text-right
    videojs(src='"https://www.youtube.com/watch?v=cpBRAZ7RJvc"', current-second="state.currentSecond", is-playing="state.isPlaying", should-update-time='true', controls='true', height="450")
    videojs(src='"http://youtu.be/aHUzfcW3gdA"', current-second="state.currentSecond", is-playing="state.isPlaying", delay="state.secondVideoDelay", height="450")
    include navi.jade
  .col-md-7
    plugins-loader(namespace="'slide'", context="slide")
//.col-md-12
  .col-md-5
    p
      | Recording delay
      input(type="number", ng-model="state.timeDelay")
    p
      | Video2 delay
      input(type="number", ng-model="state.secondVideoDelay")
  .col-md-7
    ul.list-group
      li.list-group-item(ng-repeat='recording in recordings', ng-click='onRecordingSelected($index)') 
        span.badge
          | {{recording.slides.length}}
        | {{recording.slideId}}
