style.
  .full-screen-mode {
    margin: 3em auto;
    position: relative;
    width: 1080px;
    height: 700px;
  }
  .full-screen-mode::after {
    content: '';
    display: table;
    clear: both;
  }

  .full-screen-mode .on-top {
    z-index: 5;
  }
  .full-screen-mode .on-top2 {
    z-index: 6;
    position: relative;
  }

  .top-play {
    position: absolute;
    width: 100%;
    top: 60px;
  }

  .full-screen-mode .video-js {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
  }
  .full-screen-mode > plugins-loader {
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    z-index: 1; 
    background: #000;
  }
  .full-screen-mode .navi {
    position: absolute;
    top: -50px;
    left:0;
    right: 0;
    height: 50px;
  }

.col-lg-2.col-md-2
  include left_navi.jade
.col-lg-10.col-md-10
  .row
    .full-screen-mode
      //include navi.jade
      videojs(height="610", src='"https://www.youtube.com/watch?v=cpBRAZ7RJvc"', current-second="state.currentSecond", is-playing="state.isPlaying", should-update-time='true', controls='true')
      plugins-loader(ng-class="{'on-top': !state.isPlaying}", namespace="'slide'", context="slide")
