h1 Upload SRT and OGG file

form(action="/uploadTraining", method="post", enctype="multipart/form-data")
	.form-group
		label Title
		input.form-control(type="text", name="title", placeholder="title...", required)
	.form-group
		label Audio file (OGG)
		input.form-control(type="file", name="audio", required)
	.form-group
		label Captions file (SRT)
		input.form-control(type="file", name="captions", required)
	.form-group
		button.btn.btn-primary.btn-lg(type="submit") Upload