.modal-body
    .panel.panel-default
        .panel-heading
            h4 Gdzie umieszczać script?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.

        //-.panel-body(ng-if='answers.length > 0')
        .panel-body.dm-answers
            .row
                .list-group
                    .list-group-item
                        p Lorem Ipsum
                    .list-group-item
                        p Lorem Ipsum
                    .list-group-item
                        p Lorem Ipsum
                    .list-group-item
                        p Lorem Ipsum
                    .list-group-item
                        p Lorem Ipsum
                    .list-group-item
                        p Lorem Ipsum
        .panel-footer
            form
                .form-group
                    textarea.form-control(rows='3', requied)
                button.btn.btn-sm.btn-primary(type='submit') Wyślij
                    

