.slide-microtasks
  .microtasks(
    ng-class='{"microtask-active": !taskMeta[task.description].completed}'
    ng-repeat='task in microtasks track by $index'
    tooltip-html="task.hint"
    tooltip-placement="bottom"
    )
    .microtask-col
      dm-taskicon(type='taskMeta[task.description].completed ? "taskDone" : "task"')
    .microtask-content
      .microtask-desc(marked='task.description')
        plugins-loader(namespace="'microtask'", context='{slide: slide, task: task, meta: taskMeta[task.description]}', path="{{path}}")
         
.microtask-edit.jsonView(ng-if="$root.modes.isEditMode")
  json(child="microtasks", default-collapsed="false", type="object")
                
