.microtask {
    display: flex;
    align-items: stretch;
}
.microtask-col {
  flex: 0 0 30px;
  text-align: center;
}

.microtask-border-up {
    border-top: 1px solid #181818;
    height: 1px;
}
.microtask-border-down {
    border-top: 1px solid #272727;
    height: 1px;
}


.microtask-content {
  flex: 1;

  h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    color: #aaa;
  }
}

.microtask-desc {
    text-decoration: line-through;
}

.microtask-desc code {
    background: #2d2d2d;
    color: #878787;
}                        
.microtask-user img {
    border: 1px solid #414141;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 3px;
}
.microtask-user-amount {
    display: inline-block;
    background: #303030;
    height: 27px;
    line-height: 25px;
    padding: 0 6px;
    color: #414141;
    text-align: center;
    font-size: 1.1rem;
    font-weight: @weight-semibold;
    margin-right: 5px;
    border: 1px solid #414141;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.microtask-user-done {
    font-size: 0.9rem;
}

.microtask-active .microtask-content {
  h1,h2,h3,h4,h5,h6, p {
    color: #fff;
  }
}
.microtask-active .microtask-content .microtask-desc {
    text-decoration: none;
} 


.jsonView input[type="text"] {
  width: 70%;
}


.microtask-info-holder {
    display: table;
    height: auto;
    padding: 15px;
}
.microtask-border-info {
    border-top: 1px solid #252525;
    height: 1px;
}
.microtask-info-content {
    margin-left: 12px;
}    


.slide-microtasks {
  display: flex;
  .microtasks {
      padding: 10px 15px;
      flex: 1;
      display: flex;
  }
}

.dm-slide-panel {
    .microtasks {
        padding: 10px 15px;
        font-size: 1.2rem;
        color: #ddd;
        line-height: 26px;
        margin: 20px 0 10px;
    }
}
