.dm-event-menu {
  
  .nav > li > a, .nav > li.active > a {
    font-size: 1em;
  }

  a, .btn-link {
    color: #ddd;
  }

  .menu-header {
    h4 {
      display: inline-block;
    }
  }

  .nav.menu-hr {
    text-align: left;
    margin: 15px 15px 5px;
    display: flex;

    > li {
      float: none;
      width: auto;
      flex: 1;

      > a {
        padding: 6px 10px 6px 15px;
      }
    }
  }

}
