div
  form
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.player_no_full_screen")
        span Disable auto full-screen
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.shadows")
        span Disable shadows
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.anims")
        span Disable CSS animations
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.workspace_output_noanim")
        span Disable output animation
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.workspace_output_noauto")
        span Disable auto output
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.workspace_output_scalling")
        span Enable output scalling


