div
  form
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.shadows")
        span Disable shadows
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.anims")
        span Disable CSS animations
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.workspace_output_anim")
        span Disable output animation

