div
  form
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.shadows")
        span Disable shadows
    .form-group
      label.checkbox
        input(type="checkbox", ng-model="performance.anims")
        span Disable animations

