.col-xs-12.full-height
    .row.full-height
        tabset.dm-spaceright-tab
            tab(heading='Stream')
                button.btn.btn-primary(ng-click='test()') HIDE
                .col-xs-12
                    .well Look, I'm in a well!
                .col-xs-12
                    .well Look, I'm in a well!
                .col-xs-12
                    .well Look, I'm in a well!
                .col-xs-12
                    .well Look, I'm in a well!
                .col-xs-12
                    .well Look, I'm in a well!
            tab(heading='Issues')
                .col-xs-12
                    h5 Gdzie umieszczać script?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                    button.btn.btn-primary.btn-sm Pomagam
                    hr
                .col-xs-12
                    h5 Gdzie umieszczać script?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                    button.btn.btn-primary.btn-sm Pomagam
                    hr
                .col-xs-12
                    h5 Gdzie umieszczać script?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                    button.btn.btn-primary.btn-sm Pomagam
                    hr
                .col-xs-12
                    h5 Gdzie umieszczać script?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
                    button.btn.btn-primary.btn-sm Pomagam
                    hr
            tab(heading='Chat')
                dm-xplatform-chat(name='Marek')
            tab(heading='Docs')
                //-h3 Docs

