.col-lg-3.col-md-3.dm-admin-div
    .panel
        .panel-heading
            h2
                | {{training.title}}
        .panel-body
            .list-group(ui-sortable='updateChaptersOrder', ng-model='training.chapters')
                a.list-group-item(ng-repeat='chapter in training.chapters', ui-sref='index.trainings.chapters.chapter({index: $index})', ui-sref-active='active')
                    span.glyphicon.glyphicon-trash.text-danger.pull-right(ng-click='removeChapterAtIndex($index)')
                    | {{chapter.title}}
        .panel-footer
            form.form-group(ng-submit='addChapter()')
                .input-group
                    input.form-control(type='text', ng-model='playerData.title')
                    span.input-group-btn
                        button.btn.btn-default(type='submit')
                            | Add
.col-lg-9.col-md-9.dm-admin-div
    div(ui-view='chapter')

