.col-md-12
  xplatform-deckgrid(title="'Najblizsze szkolenia'", elements="index.events")
    h4
      | {{card.title}}


  xplatform-deckgrid(title="'Zestawy slajdow'", elements="index.decksToDisplay") 
    h4
      | {{card.title}}
    button.btn.btn-link.deckgrid-index-element-star(ng-click="mother.index.star($event, card)")
      span.glyphicon.glyphicon-star.pull-right(ng-click)
    h5.text-success.deckgrid-index-element-counter
      | 

//a.col-md-12.deckgrid-index-href(ng-href="/decks/{{card._id}}")

