.col-md-12
  h2.deckgrid-index-section-header
    span.glyphicon.glyphicon-th-list.deckgrid-index-section-logo
    | Zestawy slajdów
  .deckgrid.deckgrid-index-grid.ng-cloak(deckgrid, source="app.decksToDisplay")
    .a-card
      div.col-md-11.deckgrid-index-element
        a.col-md-12.deckgrid-index-href(ng-href="/decks/{{card._id}}")
        h4
          | {{card.title}}
        button.btn.btn-link.deckgrid-index-element-star(ng-click="mother.app.star($event, card)")
          span.glyphicon.glyphicon-star.pull-right(ng-click)
        h5.text-success.deckgrid-index-element-counter
          | 


