div.animate(ng-if='snippet.timestamp <= currentTime')
    .microtask-info 
        p
            span.label.label-primary {{snippet.title}} 
        div(marked='snippet.markdown')
    .microtask-border-up
    .microtask-border-down
