.dm-space {
  position: relative;
  float: left;
  height: 100%;

  .dm-space-live {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 130px;
    height: 35px;
    z-index: 9;
  }

  .ui-view-animate.ng-enter, .ui-view-animate.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity 0.4s ease-out;

    iframe {
      transition: opacity 0.2s ease-out;
    }
  }

  .ui-view-animate.ng-enter {
    opacity: 0;
    transition-delay: 0.15s;
    transition-timing-function: ease-in;
  }

  .ui-view-animate.ng-enter-active {
    opacity: 1;
  }

  .ui-view-animate.ng-leave {
    opacity: 1; 
  }

  .ui-view-animate.ng-leave-active {
    opacity: 0;
    iframe {
      opacity: 0;
    }

  }
}


.full-frame {
  border: none;
  background: none;
  width: 100%;
  height: 99%;
}

.dm-space.zen-mode {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 20;
  background: rgb(0, 0, 0);
  width: 100% !important;
  overflow: hidden;
}

.dm-space-top {
  outline: none;
}

.dm-spacesidebar {
  position: relative;
  height: ~"calc(100% - 3px)";
  overflow: hidden;
  float: left;
  background-color: rgb(30,30,30);
  z-index: 9;

  .nav.menu, .nav.agenda, .nav.users {
    li {
      width: 100%;
    }
    li > a, li.active > a {
      padding: 12px 0;
      font-size: 1.7em;
    }
  }
  
  .nav {
    li > a , li.active > a {
      text-align: center;
      border: none;
      border-radius: 0;
      margin-right: 0;
    }
    li.active > a {
      background-color: #666;
    }
  }

  .nav.menu {
    > li > a {
      padding: 3px 0;
    }
  }

  .dm-space-live {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    z-index: 10;
  }

  .users-all {
    height: ~"calc(100% - 130px)";
  }

  .users-all.is-admin {
    height: ~"calc(100% - 190px)";
  }

  .users {
    li {
      position: relative;
    }

    .user-badge {
      position: absolute;
      bottom: 0;
      right: 0px;
      font-size: 11px;
      font-weight: bold;
      z-index: 1000;
      background: #1f1f1f;
      border-radius: 50% 50% 0 50%;
      padding: 0 3px;
    }

    &.nav > li > a, &.nav > li.active > a {
      margin: 0;
      display: block;
      text-align: center;
      border-radius: 0;
      padding: 3px 0 4px;
      line-height: 1.0;
      img {
        border-radius: 50%;
        margin: 0 auto;
      }
    }
    .users-self.active {
      a {
        .btn-success;
      }
    }
  }
}
.dm-spacesidebar-right-container {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 14;
}

.nav > li > .workspace-btn{
  &:focus, &:hover {
    background-color: #a9e238;
  }
}

.dm-space, 
.dm-spacesidebar {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.dm-spacesidebar-user {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  border-top: 1px solid #333;
  transition: bottom 0.5s ease-in-out;

  a {
    color: #888888;
  }
}

.dm-spacesidebar.opened {
  .separator {
    clear: none;
  }
}


&.pinned {
  .dm-spacesidebar-right {
    padding-bottom: 40px;
  }
}

.dm-spacesidebar-right-container.opened {
  .sidebar-open-btn {
    position: absolute;
    left: -10px;
    right: auto;
    width: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 9px;

    span.fa {
      color: #2f2f2f;
    }
  }
}

.dm-spacesidebar-right {
  height: 100%;
  padding-bottom: 0;
  transition: padding-bottom 0.5s ease-in-out;

  > div {
    height: ~"calc(100% - 30px)";
  }

  .sidebar-title {
    font-size: 17px;
    position: absolute;
    left: 40px;
    right: 40px;
    text-align: center;
    top: -31px;
    color: #ddd;
    margin: 0;
    h4 {
      margin-top: 0;
    }
  }

  &:hover {
    .sidebar-pin-btn {
      opacity: 1.0;
    }
  }
  .sidebar-pin-btn {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
  }

  .sidebar-open-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #888;
    padding: 50vh 9px 0;
    background: #1f1f1f;

    &:hover {
      background-color: #444;
    }

    > .fa {
      height: 100%;
      line-height: 100%;
    }
  }

  .scroll {
    height: 100%;
    overflow: auto;
  }

  .half-height {
    height: ~"calc(50% - 3px)";
    box-sizing: border-box;
    border-bottom: 1px solid #161616;

  }

  .inactive .nav li.active {
    a, a:hover {
      background: none;
    }
  }

  .tabs-badge {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
  }
  .separator {
    padding: 15px 3px;
    clear: both;
    height: 20px;
    float: left;
    display: inline-block;
  }

  > .nav, > div > .nav {
    border-bottom: 0;

    li {
      width: 35px;
      text-align: center;
      a {
        border-radius: 0;
        margin: 0;
        padding: 5px;
        font-size: 18px;
      }
    }
    li.active > a,
    li.active > a:hover {
      border-bottom: none;
      background-color: rgb(86,171,205);
    }
  }  

  .tab-content {
    height: calc(~"100% - 42px");
    overflow-y: auto;

    .tab-pane {
      height: 100%;
    }
  }
}

.nav-icon {
  width: 30px;
  text-align: center;
  display: inline-block;
}

.dm-space-checkbox {
  padding: 0.2em 0 0.5em 1.0em;
  font-size: 18px;
}

.dm-space-questions {
  position: relative;
  height: calc(~"100% - 48px");
  overflow-y: auto;

  button {
    border-radius: 0;
  }
}

.dm-space-saves {
  overflow-y: auto;
  height: 100%;
}

.dm-space-alert {
  border-radius: 0;
  margin: 0;
}

