ul.nav.nav-tabs.pull-right
  li(tooltip="Pin Menu", tooltip-placement="left", title="Pin Menu", tooltip-animation='false')
    a.cursor-pointer(ng-click="toggleRight(true);togglePinRight()")
      span.fa.fa-thumb-tack
.separator


