ul.nav.nav-tabs.pull-right
  li(tooltip="Pin Menu", tooltip-placement="left", title="Pin Menu", tooltip-animation='false')
    a.cursor-pointer(ng-click="toggleRight(true);togglePinRight()")
      span.fa.fa-thumb-tack
ul.nav.nav-tabs.pull-left
  li(tooltip="XPlatform", tooltip-placement="left", title="Select Courses", tooltip-animation='false')
    a(href="#/",
      analytics-category='menu',
      analytics-on='click', analytics-event='navbar.logo')
      img(src="static/images/xplatform-icon-trans.svg", width="20", height="20")
.separator


