nav.navbar.navbar-default.navbar-slides(role='navigation')
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-slides")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand.text-muted(href='/')
      span.glyphicon.glyphicon-th-large

  #navbar-slides.collapse.navbar-collapse
    div.slimScrollDiv(style="position: relative; width: calc(100% - 120px); height: 60px; overflow-x: visible; overflow-y: hidden; white-space: nowrap;")
      ul.nav.navbar-nav.nav-slides
        li(ng-repeat="slide in slides", ng-class="{ 'active' : slide._id === csm.activeSlideId}")
          a(href='\#{{slide._id}}') 
            | {{ slide.content.name }}
    ul.nav.navbar-nav(ng-if="$root.editMode")
      li
        a(ng-click="addSlide()")
          span.glyphicon.glyphicon-plus
  
