nav.navbar.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-slides')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand.text-muted(href='/')
      span.glyphicon.glyphicon-th-large
  #navbar-slides.collapse.navbar-collapse
    ul.nav.navbar-nav.nav-slides
      li(ng-repeat="slide in slides", ng-class="{ 'active' : slide.id === activeSlide}")
        a(href='\#{{slide._id}}') 
          | {{ slide.content.name }}
        div(ng-if="$root.editMode")
          a(ng-click="editMode = !editMode", ng-class="{'active': editMode}")
            span.glyphicon.glyphicon-pencil
          div(ng-if="$root.editMode", ng-show="editMode")
            input.col-xs-4(ng-model="slide.name")
            input.col-xs-3(ng-model="slide.id")

    ul.nav.navbar-nav(ng-if="$root.editMode")
      li
        a(ng-click="addSlide()")
          span.glyphicon.glyphicon-plus
  
