mixin slidesMixin()
  li(ng-repeat="slide in slides", ng-class="{ 'active' : slide._id === csm.activeSlideId}")
    a(href='\#{{slide._id}}') 
      | {{ slide.content.name }}


nav.navbar.navbar-default.navbar-slides(role='navigation')
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-slides")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    ul.nav.navbar-nav.navbar-left
      li.dropdown
        a.dropdown-toggle.text-muted.cursor-pointer(data-toggle="dropdown") 
          span.glyphicon.glyphicon-th-large
        ul.dropdown-menu
          li: a(href="?edit=true")
            span.fa.fa-pencil
            |  Edit Mode
          li: a(href="{{ deckUrl }}/trainer")
            span.fa.fa-graduation-cap
            |  Trainer Mode
          li.divider
          li: a(href="/") 
            span.fa.fa-paper-plane
            |  All slides

  #navbar-slides.collapse.navbar-collapse
    div.slimScrollDiv(style="position: relative; width: calc(100% - 60px); height: 40px; overflow-x: visible; overflow-y: hidden; white-space: nowrap;") 
      ul.nav.navbar-nav.nav-slides(ng-if="$root.modes.isEditMode", ui-sortable="sortableOptions", ng-model="slides")
        mixin slidesMixin() 
      ul.nav.navbar-nav.nav-slides(ng-if="!$root.modes.isEditMode", ng-model="slides")
        mixin slidesMixin()
    ul.nav.navbar-nav(ng-if="$root.modes.isEditMode")
      li
        a(ng-click="addSlide()")
          span.glyphicon.glyphicon-plus
  
