.xplatform-player-fullscreen {
    margin: 3em auto;
    margin-top: 0px;
    position: relative;
    width: 1080px;
    height: 700px;

    > .on-top {
        z-index: 5;
    }
    
    .video-js {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 2;
    }

    > plugins-loader {
        position: absolute;
        top: 30px;
        left: 10px;
        right: 10px;
        bottom: 50px;
        z-index: 1; 
        background: #000;
        opacity: 0;
    }

    > plugins-loader[data-playing="false"] {
        opacity: 1;
        z-index: 5;
    }

    > videojs[data-playing="false"] {
        display: none;
    }

    .navi {
        position: absolute;
        top: -50px;
        left:0;
        right: 0;
        height: 50px;
    }
}

.xplatform-player-fullscreen::after {
    content: '';
    display: table;
    clear: both;
}

.player-chapter-time {
    font-size: 10px;
    padding-top: 4px;
    padding-left: 20px;
}
