.burger-img {
	width: 100%;
	display: block;
	margin-bottom: -30%;
	position: relative;
	opacity: 1.0;
	top: 0;
	transition: opacity 0.3s ease, top 0.2s ease;

	&.invisible {
		top: -600px;
		opacity: 0.0;
	}
}
.burger-container {
	padding: 50px;
}
