.sw-output-errors {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;

  .alert {
    color: #f33;
    background-color: #ffdddd;
    border: 1px solid #ffaaaa;
    border-radius: 0;
    margin-bottom: 0;
  }

  a {
    color: #444;
    text-decoration: none;
    &:hover {
      color: #222;
      text-decoration: underline;
    }
  }
}
