.slide-workspace-outputs.full-height(
  ng-class="{'with-address': withAddress}"
  )
  .text-center.margin-top-20(
    ng-if="isDead === true"
    )
    h1.text-danger
      span.fa.fa-power-off
    h4.text-muted No server at {{ currentUrl }}
  .full-height(
      ng-if="isDead === false"
      ng-class="{'sw-outputs-scaled': $root.performance.indexOf('workspace_output_scalling') !== -1}")
    iframe.iframe-fiddle-output.scrollable-container
    // iframe.iframe-fiddle-output.scrollable-container(
    //   ng-show="$root.performance.indexOf('workspace_output_noanim') === -1"
    // )
