.col-xs-12.full-height
    .course-background.full-height
        h3 Workspaces
        .list-group.workspace-list.full-height
            .list-group-item(ng-repeat="ws in workspaces")
                small.text-muted.label.label-default.pull-right
                    | User: {{ws.user._id}}
                smal.text-muted.label.label-info.pull-right
                    | WS: {{ws._id}}
                h3 {{ ws.user.name}} ( {{ws.user.email}} )
                button.btn.btn-primary.btn-xs(ng-click="ws.showWorkspace = !ws.showWorkspace")
                    | Show Workspace
                button.btn.btn-primary.btn-xs(ng-click="fetchRecentWorkspaces(ws); ws.showRaw = true")
                    | Fetch Recent Workspaces (50)
                button.btn.btn-default.btn-xs(ng-click="ws.showRaw = !ws.showRaw")
                    | Show RAW
                button.btn.btn-default.btn-xs(ng-click="convertRecentWorkspaces(ws)")
                    | Convert to Recording

                plugins-loader(ng-if="ws.showWorkspace", context="ws.slide", namespace="'slide'", path='')
                pre(ng-if="ws.showRaw") {{ws | json}}
                
