.trainer-pane.col-xs-10.col-xs-offset-1.full-height(
  ng-scrollbar rebuild-on-resize
  )
  .course-background
    .row
      .col-sm-3.text-center(
        ng-repeat="ws in workspaces"
        ng-class="{'is-offline': !ws.user.isOnline}"
      )
        a(ui-sref="index.space.collaborate.watch({slide: ws._id})")

          img.img-rounded(
            alt="{{ws.user.name}}"
            ng-src='{{ws.user.avatar | dmGravatar:64}}'
          )

        h3
          a(ui-sref="index.space.collaborate.watch({slide: ws._id})")
            | {{ ws.user.name}} 
        h5.text-muted {{ws.user.email}}
        p: small.text-muted.label.label-default
          | User: {{ws.user._id}}
        p: smal.text-muted.label.label-info
          | WS: {{ws._id}}
