.col-xs-12
  table
    tr(ng-repeat="item in ranking")
      td
        pre {{ item.userId }}
      td(ng-repeat="it in event.iterations")
        div(ng-repeat="task in it.tasks")
          pre {{ ranking[$parent.$index + '_' + $index].isDone }}

