.col-xs-12
  h3.text-center Ranking
  table.table
    tr(ng-repeat="item in ranking")
      td
        img.img-responsive.img-rounded(
          ng-src="{{ item.user.avatar | dmGravatar:32 }}"
          tooltip="{{ item.user.name }}"
          tooltip-animate="false"
          tooltip-placement="right"
          )
      td(ng-repeat="it in event.iterations")
        span(ng-repeat="i in getTasks(item, $index)")
          span(ng-if="item.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-check.text-success
          span(ng-if="!item.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-minus.text-muted

