.col-md-4.dm-admin-div
    .panel
        .panel-heading
            h2 {{chapter.title}}
        .panel-body
            form.form-horizontal.col-lg-12.col-md-12
                fieldset
                    .form-group
                        label
                            | Title
                        input.form-control.input-sm(type='text', ng-model='chapter.title')
                    .form-group
                        label
                            | Mode
                        select.form-control.input-sm(ng-model='chapter.mode')
                                option video
                                option task
            .col-lg-12.col-md-12.dm-admin-div(ng-if='chapter.mode === "video"')
                h4 Sound
                form.form-horizontal.col-lg-8.col-md-8
                    fieldset
                        .form-group
                            label.control-label
                                | 
                            select.form-control(ng-model='chapter.videodata.url', ng-options='sound for sound in sounds')
                            {{ chapter.videodata.url }}
                        .form-group
                            label
                                | Code recording
                            .control-group
                                select.form-control.input-sm(ng-model='select.recording', ng-options='recording.title group by recording.group for recording in recordings')
                                span.help-block  {{select.recording._id}}
                        .form-group
                            label
                                | When should audio start
                            input.form-control.input-sm(type='number', ng-model='chapter.videodata.timestamp', step="10")
                        .form-group
                            label
                                | When should code start
                            input.form-control.input-sm(type='number', ng-model='chapter.videodata.recordingTime', step="20")
                            button.btn-btn-xs.btn-default(ng-click="split(select.recording, chapter.videodata.recordingTime)") Split
                        .form-group
                            label
                                | When should the whole thing end
                            input.form-control.input-sm(type='number', ng-model='chapter.videodata.length', step="10")

                        .form-group
                            label Cutout recording
                            input.form-control.input-sm(type="number", ng-model="cut.start", step="10", placeholder="start")
                            input.form-control.input-sm(type="number", ng-model="cut.end", step="10", placeholder="end")
                            button.btn.btn-xs.btn-default(ng-click="cutout(select.recording, cut.start, cut.end)") Cutout

            .col-lg-12.col-md-12.dm-admin-div(ng-if='chapter.mode === "task"')
                h4 taskdata
                form.form-horizontal.col-lg-8.col-md-8
                    fieldset
                        .form-group
                            label
                                | slide
                            textarea.form-control.input-sm(rows='3', ng-model='chapter.taskdata.slide')

            .col-lg-12.col-md-12
                form.form-horizontal.col-lg-8.col-md-8
                    fieldset
                        .form-group
                            .col-lg-12
                                button.btn.btn-primary.pull-right(type='button', ng-click='saveChapter()')
                                    | Submit
                                button.btn.btn-default.pull-right(type='button', ng-click='cancelSaveChapter()')
                                    | Cancel
.col-md-8
    h1
        | preview
    form.form-horizontal.col-md-8
        fieldset
            .form-group
                .col-lg-12
                    button.btn.btn-primary.pull-right(type='button', ng-click='videopreview.isPlaying = !videopreview.isPlaying')
                        | Play
    p.col-lg-12.col-md-12
        | current-second: {{videopreview.currentSecond | number:2}}
    p.col-lg-12.col-md-12
        | numberOfSlides: {{recordingPlayer.numberOfSlides }}
    p.col-lg-12.col-md-12
        | length: {{recordingPlayer.length}}
    .col-lg-12.col-md-12
        plugins-loader(namespace="'slide'", context="recordingPlayer.slide", mode="'player'")
    .col-lg-12.col-md-12
        dm-wavesurfer(dm-scroll='true', dm-src='videopreview.src', dm-start-second='videopreview.startSecond', dm-current-second='videopreview.currentSecond', dm-is-playing='videopreview.isPlaying')



