.dm-event-users {

  img {
    margin-right: 8px;
  }

  .nav li > a {
    text-align: left;
  }

  .item-details {
    height: 55vh;
    overflow-y: auto;
  }

  .user-badge {
    float: right;
    position: relative;
    margin: 10px 5px;
    color: #000;
    z-index: 10;
  }
}
