.dm-devhero-container {
    padding-left: 20px;
    padding-top: 30px;

    > div {
        margin-bottom: 20px;    
    }

    .dm-devhero-buttons {
        button {
            width: 48%;
            padding: 5px;
            background-color: rgb(69,97,108);
            color: white;
            position: inline;
            float: right;
        }
        button:first-child {
            background-color: rgb(66,143,172);
            float: left;
        }
    
    }

    .dm-devhero-name {
        font-size: 20px;
        color: rgb(110,110,110);
    }
    
    p {
        color: rgb(150,150,150);
        font-size: 13px;
        margin-bottom: 5px;
    }

    p.dm-devhero-info {
        font-size: 9px;
        margin-bottom: 0px;
        margin-top: 3px;
        color: rgb(110,110,110);
    }

    .dm-devhero-bio {
        margin-top: 10px;
        font-size: 11px;
    }

    div.dm-devhero-separator {
        background-color: rgb(45,45,45);
        height: 1px;
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    img {
        display: inline; 
        float: left;
        border-radius: 5px;
        border: 2px solid #5b5b5b;
        margin-right: 30px;
    }

}
