.dm-admin-div {
    padding: 0px 5px 0px 5px;
    
    .panel {
        background-color: transparent;
    
        .panel-heading {
            padding: 0px;    
        }
    
        .panel-body {
            padding: 0px;
            overflow-y: scroll;
        }

        .panel-footer {
            padding: 0px;
            border-width: 0px;
            background-color: black;
        }
    }
    
    a {
        padding: 5px;
    }
}
