.col-xs-12

  form(method='post', enctype='multipart/form-data', action='/api/events/zip')
    .form-group
      input.form-control.input-sm(type='file', name='file')
    .form-group
      button.btn.btn-primary.btn-sm(type='submit')
        span.fa.fa-fw.fa-upload
        span Upload ZIP with event
  hr
  p
    a.btn.btn-default.btn-block(
      href="/api/events/{{event._id}}?format=yaml"
      target="_blank"
      )
      span.fa.fa-fw.fa-download
      span Download Event

