extends ../../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='/static/devhero/devhero-app.js')
  script(src='/static/devhero/index/devhero-index.js')

block content
  div(ng-controller='DevheroIndexCtrl')
    div(ui-view='navbar')
    div(ui-view='content')

