.microtask-info-holder
    .microtask-col
        .microtask-img
            img(src="static/images/microtask/info_user.png")

    .microtask-content
        .microtask-desc-info
            span.text-info Marek Kotewicz 
            | ukończył 
            a.text-primary(href="aaa") #2 
            | mikrozadanie w 
            a.text-primary(href="aaa") Obiekty 
            |21 minut temu
.microtask-border-up
.microtask-border-down

