.col-md-12

	.dm-workshoplist-container
		.row
			.col-md-12
				.dm-title
					h4 
						| Dostępne kursy


			.col-md-4.col-sm-4(ng-repeat="cours in courses")
				.workshoplist-col
					.workshoplist-thumb
						img.img-responsive.workshoplist-img(ng-src="{{cours.image}}")
						
					.workshopdesc-detailsholder
						br
						.workshoplist-details
							h4
								a(ui-sref='index.coursesDesc({id: cours.id})')
									| {{cours.title}}
								p
									| {{cours.description}}