.dm-workshoplist-container {
    padding: 40px;
    margin: 0 auto;



    .dm-workshoplist-separator {
        background-color: rgb(45,45,45);
        height: 1px;
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .btn-group.btn-group-justified > .btn-group {
        float: none;
    }

}





.workshoplist-holder {
    margin-top: 20px;
    margin-bottom: 50px;
}
.workshoplist-col {
    margin-bottom: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #5b5b5b;
}
.workshopdesc-detailsholder {
    background: #212121;
    height: 123px;
    text-align: left;
}
.workshoplist-details {
    padding: 15px 20px 0;
}
.workshoplist-details h4 {
    margin: 0;
    padding: 0;
    position: relative;
}
.workshoplist-details h4:before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #5b5b5b;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.workshoplist-details a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; 
}
.workshoplist-details a:hover {
    text-decoration: none;
    color: #00B9FF;
}


.workshoplist-details p {
    color: rgb(150,150,150);
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 26px;
    line-height: 17px;
}

.workshoplist-img {
    border-bottom: 1px solid #5b5b5b;
}









.form-login {
    display: inline-block;
    height: 25px;
    background: transparent;
    padding: 0 33px;
    outline: none;
    border-bottom: 1px solid #515151;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
}

.form-login:focus {
    border-color: #515151;
    border-bottom: 1px solid #515151;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-login::-webkit-input-placeholder {
   color: #ffffff;
}
.form-login:-moz-placeholder { 
   color: #ffffff;
}
.form-login::-moz-placeholder { 
   color: #ffffff; 
}
.form-login:-ms-input-placeholder {  
   color: #ffffff;  
}
