.container
    .col-md-12
        .dm-workshoplist-container
            .row
                .col-md-4(ng-repeat="cours in courses | orderBy:'order'")
                    .workshoplist-col
                        .workshoplist-thumb
                            a(ui-sref='index.menu({type: cours.id})',
                                analytics-category='courses',
                                analytics-on="click", analytics-event="courses.go", analytics-label="{{cours.title}}")
                                img.img-responsive(ng-src="{{cours.image}}")
                        .workshopdesc-detailsholder
                            .workshoplist-details
                                .workshoplist-details-shadow
                                h4
                                    a(ui-sref='index.menu({type: cours.id})',
                                        analytics-category='courses',
                                        analytics-on="click", analytics-event="courses.go", analytics-label="{{cours.title}}")
                                        | {{cours.title}}

