.player-bottombar {
    background-color: rgb(44,44,44);

    .dropdown-menu {
        max-height: 400px;
        width: 400px;
        overflow-y: auto;
        margin-bottom: 10px !important;
    }

    .player-list {
        z-index: 1001;
        position: absolute;
        bottom: 6px;
        margin: 0px;
        float: none !important;

        li {
            display: inline-block;
            border-radius: 0px !important;
            cursor: pointer;
        }

        button {
            background-color: transparent;
            border-color: transparent;
            color: white;
        }

    }
    
    .player-left { 
        left: 0px;
        padding-left: 20px;
    }

    .player-right {
        right: 0px;
        padding-right: 20px;
    }

    .player-center {
        float: none !important;
        text-align: center;

        a {
            float: none;
            display: inline-block;
        }
        
        .fa {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}

.player-bottombar-wave {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(26,26,26);
    z-index: 1029;
}

.player-top-bottombar {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: #5aabcb;
    z-index: 1000;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}


