@subtitlesHeight: 55px;
.dm-player-subtitles {
    position: absolute;
    top: 45%;
    left: 35%;
    transition: top 1s ease, left 1s ease, opacity 0.7s ease-in-out;
    background-color: #fff;
    z-index: 10;
    // color: #000;
    font-size: 1.3em;
    box-shadow: 0 0 60px rgba(0, 0, 0, .9);

    width: 40%;

    // height: @subtitlesHeight;
    overflow: visible;
    opacity: 1.0;

    &.faded {
      opacity: 0.0;
 //     top: 120% !important;
    }
}

.dm-player-subtitles-hidden {
    // height: @subtitlesHeight;
    padding: 20px;
    position: relative;
    z-index: 100;
    &:empty {
      padding: 0;
    }
}

.btn-next-subtitle {
    border-radius: 0;
    padding: 15px 50px;
    z-index: 50;
    background-color: #11627f;
    border: none;
}
