.col-xs-12.full-height
  .dm-player-subtitles(
      ng-class="{'faded': state.isPlaying}"
    )
        .dm-player-subtitles-hidden
          
          .dm-annos-item
                  dm-annotation(annotation='anno', showIteration='showAll', ng-if='anno.type === "snippet"')
                  dm-microtask(microtask='anno', ng-if='anno.type === "task"')

        button.btn.btn-default.pull-left.btn-next-subtitle.btn-block(
                ng-show="!state.isPlaying",
                ng-click="state.isPlaying = true")
                    span Dalej 
                    span.fa.fa-chevron-right



    plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''")
