.player-top-bottombar(style="width:{{state.activeChapterPercentage}}%")


nav.navbar.navbar-default.navbar-fixed-bottom.player-bottombar(role="navigation")
    .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .navbar-collapse.collapse.navbar-inverse-collapse
        ul.player-list.player-left
            li
                .dropup
                    button.btn.dropdown-toggle(type="button", data-toggle="dropup")
                        i.fa.fa-folder-open
                    .dropdown-menu.list-group
                        a.list-group-item(ng-repeat="file in files", ng-click="openFile($index)")
                            span.pull-right(am-time-ago="file.date")
                            b 
                                | {{file.title}}
            li(ng-show="!state.isPlaying")
                button.btn(type="button", ng-click="saveFile()")
                    i.fa.fa-save
        ul.player-list.player-right
            li
                button.btn(type="button")
                    i.fa.fa-smile-o
                    | R 
        .navbar-left.player-center
            a.navbar-brand
                span.fa.fa-step-backward(ng-click="moveBySeconds(-15)")
                span.fa(ng-class="{'fa-play':!state.isPlaying, 'fa-pause':state.isPlaying}", ng-click="state.isPlaying = !state.isPlaying")
                span.fa.fa-step-forward(ng-click="moveBySeconds(15)")

