.dm-xplatform-profile {
    padding: 30px 0px 0px 0px;
    .form-group {
        > span {
            padding-top: 9px;
        }

        input {
            border-radius: 0px;
            background-color: rgba(255,255,255,0.15);
        }

        textarea {
            border-radius: 0px;
            background-color: rgba(255,255,255,0.15);
        }

        button {
            margin-left: 5px;
            background-color: rgba(255,255,255,0.15);
        }

        button:first-child {
            background-color: #5aabcb;
            color: white;
        }
    }
}
