.dm-dashboard-tiles
  .toggle-tiles(ng-click="vm.showTiles = !vm.showTiles")
    span.fa.fa-globe

  .tiles.text-center(
    ng-if="vm.showTiles"
    ng-class="{'move-right': vm.viewOptions.allProblemsOnScreen}"
    )
    .row
      .col-md-6
        .tile.events-num
          span.fa.fa-fw.fa-globe
            | {{ vm.getAllEventsNum() }}
      .col-md-6
        .tile.people-num
          span.fa.fa-fw.fa-users
            | {{ vm.getAllPeopleNum() }}