.dm-dashboard-tiles {
  margin-top: 40px;

  &.move-right {
    margin-left: 25%;
  }

  .tiles {
    .tile {
      padding: 28px;
      font-size: 4rem;
      background-color: darken(orange, 15%);
    }
  }
}