.dm-dashboard-tiles {
  margin-top: 40px;

  .tiles {
    &.move-right {
      margin-left: 25%;
    }
    
    .tile {
      padding: 28px;
      font-size: 4rem;
      background-color: darken(orange, 15%);
    }
  }
}