.dm-users-header {
    font-size: 18px;
    color: #5aabcb;
}

.dm-users-footer {
    margin-top: 0px;
}

.dm-users {
    overflow-y: auto;
    max-height: 280px;

    .list-group-item {
        background-color: transparent;
        border-width: 0px 0px 1px 0px;
        border-bottom-color: rgb(40,40,40);
        border-radius: 0px;
    }

    img {
        border-radius: 3px;
        border: 1px solid #5b5b5b;
        margin-right: 15px;
    }

    span {
        font-size: 14px;
    }
}
