.container-fluid
  .row
    .col-xs-12
      dm-dashboard-index(
        name="vm.name"
        dashboard="vm.dashboard"
        )
    .col-xs-12
      //pre(ng-bind="vm.dashboard")
      pre {{ vm.dashboard | json }}
