.col-xs-12.dm-spaceleft
    .col-xs-12
        .row
            p
                a.btn.course-button.pull-left
                    span.fa.fa-clock-o
                h3 &nbsp;Iteracja 1
    .row &nbsp;
    p
        span.help-block.pull-right 12:00
    p
        span.help-block 10:30
    .progress
        .progress-bar(ng-style='{"width": "60%"}')

    .col-xs-12
        .row
            button.btn.btn-primary.col-xs-offset-4.col-xs-4 Tutorial
    .col-xs-12
        .row
            h4 Zadania
            .row
                .list-group
                    .list-group-item
                        h5 Zadanie 2a
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.

                    .list-group-item
                        h5 Zadanie 2b
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.

                    .list-group-item
                        h5 Zadanie 2c
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
.col-xs-12.dm-spaceleft-sm
    .row
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-clock-o 
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-tasks
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-tasks
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-tasks
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-lock 
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-lock 
        a.btn.course-button.course-button-small.course-button-wide
            span.fa.fa-lock 


