.col-xs-12.full-height
  .full-height.dm-xplatform-agenda
    .col-xs-10.col-xs-offset-1
      h1.text-center {{event.title}}
      h3.text-center.text-muted(ng-if="event.name")
        a(href="{{url}}/-{{event.name}}", target="blank") 
          | {{url}}/-{{event.name}}
      div(ng-if="$root.editMode")
        input.form-control.input-sm(ng-model="event.title", placeholder="Event Title")
        input.form-control.input-sm(ng-model="event.name", placeholder="Event Short Name")
        .input-group
          label.input-group-addon
            | PIN
          input.form-control.input-sm(type="number" ng-model="event.pin")
        button.btn.btn-success(ng-click="cloneEvent()")
          | Clone Event
        button.btn.btn-link(ng-click="showMore = !showMore")
          | Show More 

        div(ng-if="showMore")
          .form-group
            label.form-label Base Slide Id
            input.form-control.input-sm(ng-model="event.baseSlide", placeholder="Base Slide Id")
            a.btn.btn-default.btn-xs(href="/slides/{{event.baseSlide}}?edit=true", target="_self")
              | Edit Base Slide
          .form-group
            label.form-label Image URL
            input.form-control.input-sm(ng-model="event.image", placeholder="Image URL")
            img.img-responsive(ng-src="{{event.image}}")
          .form-group
            label.form-label Live Link
            input.form-control.input-sm(ng-model="event.liveLink")
          .form-group
            .checkbox
              label.form-label Is Visible
                input(ng-model="event.visible", type="checkbox")
          .form-group
            .checkbox
              label.form-label Is Removed
                input(ng-model="event.removed", type="checkbox")
          .form-group
            .checkbox
              label.form-label Should Redirect To Unsafe
                input(ng-model="event.shouldRedirectToUnsafe", type="checkbox")

      br

      div(ng-if="event.intro && $root.editMode")
        ul.dm-breadcrumb
          li.title(ng-click="showMore = !showMore" ng-class="{'active': showMore}")
            a Intro
          li
            a(ui-sref='index.space.learn.slide({event: event._id, slide: event.intro})')
              span.nav-icon.fa.fa-question-circle.fa-fw
              span Intro
        .list-group(ng-show="showMore")
          .list-group-item
            input.form-control.input-sm(ng-if="$root.editMode", ng-model="event.intro", placeholder="Intro Slide Id")

      .dm-agenda-live(ng-if="event.liveLink")
        iframe.full-frame(
          ng-if="event.liveLink"
          seamless=true,
          dm-iframe="{{ event.liveLink | liveLinkUrl:'' }}"
          dm-iframe-timeout="300"
        )

      dm-ranking(event='event')

