.hover-trigger {    
    .hover-content {
        opacity: 0;
    }
}

.hover-trigger:hover {
    .hover-content {
        opacity : 1;
    }
}

.cursor-pointer {
    cursor:pointer;
}

.slides-scroll {
    overflow-y: scroll;
    height: 550px;
}
