.index-xplatform-header {
    font-size: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
}

.index-xplatform-logo {
    font-size: 25px;
}

.index-form-search {
    margin-top: 9px;
    margin-bottom: 9px;
    position: relative;
}

.index-input-search {
    height: 32px;
    background-color: #535353;
}

.index-glyph-search {
    positon: absolute;
    top: 8px;
    right: 25px;
}

  
