.full-height {
  height: 100%;
  overflow-y: hidden;
}

.content-height {
    height: calc(~'100% - 51px');
}

body.full-height {
  overflow-y: auto;
}

.hoverable {
  .show-on-hover {
    display: none;
  }
  &:hover {
    .show-on-hover {
      display: inline-block;
    }
    .hide-on-hover {
      display: none;
    }
  }
}
