.live-edit {
  position: fixed;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  min-width: 300px;
  z-index: 10;

  &.collapsed {
    top: 70%;
    width: 20%;
  }
  &:hover {
    opacity: 1.0;
  }

  .editor-live {
    height: 95%;
  }
}