.login-holder,
.registration-holder {
    width: 400px;
	background: #262626;
    margin: 100px auto 0;
	-webkit-border-radius: @border-radius;
	-moz-border-radius: @border-radius;
	border-radius: @border-radius;
	border: 1px solid #000000;
}

.login-modal {
    .modal-content {
        width: 400px;
        background: #262626;
        margin: 0px auto;
        -webkit-border-radius: @border-radius;
        -moz-border-radius: @border-radius;
        border-radius: @border-radius;
        border: 1px solid #000000;
    }

    .modal-body {
        padding: 0px;
    }

    .modal-dialog {
        width: 400px;
        padding: 0px;
        margin-top: 100px;
    }
}



.login-header,
.registration-header  {
	font-size: 18px;
	color: #5aabcb;
	font-weight: @weight-regular;
	text-align: left;
	margin: 20px 0;
}
.registration-switch a,
.registration-switch a:hover,
.login-switch a,
.login-switch a:hover {
	font-size: 14px;
	font-weight: @weight-regular;
	color: @color-white70;
	text-decoration: none;
}


.form-login {
	display: inline-block;
	height: 25px;
	background: transparent;
	padding: 0 33px;
	outline: none;
	border-bottom: 1px solid #515151;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: @color-white100;
}
.form-login:focus {
	border-color: #515151;
	border-bottom: 1px solid #515151;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.form-login::-webkit-input-placeholder {
   color: @color-white70;
}
.form-login:-moz-placeholder { 
   color: @color-white70;
}
.form-login::-moz-placeholder { 
   color: @color-white70; 
}
.form-login:-ms-input-placeholder {  
   color: @color-white70;  
}

.form-login:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px rgb(38,38,38) inset;
    -webkit-text-fill-color: white;
}
.form-login:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px rgb(38,38,38) inset;
    -webkit-text-fill-color: white;
}  


.ico-holder {
	position: relative;
}
.ico-sub {
	position: absolute;
}
.ico-user {
	top: 3px;
	left: 10px;
}
.ico-password {
	top: 3px;
	left: 10px;
}

.password-forgot {
	font-size: 12px;
	font-weight: @weight-regular;
	color: #6e6e6e;
	position: absolute;
	top: -22px;
	right: 0px;
}
.password-forgot a,
.password-forgot a:hover {
	color: #6e6e6e;
	text-decoration: none;
}




/* ----- CHECKBOX */
.checkbox-option,
.btn.btn-log.pull-right  {
	margin-top: 10px;
	margin-bottom: 25px;
}

.checkbox-option ul {
	padding-top: 0px;
	padding-left: 0;
	list-style: none;
}
.checkbox-option ul li {
	padding-top: 5px;
}

.checkbox-option input[type="checkbox"] {
    display: none;
}
.checkbox-option input[type="checkbox"] + label span {
    display:inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: -2px;
    margin-right: 5px;
    vertical-align: middle;
    background: url('../images/login/checkbox.png') no-repeat;
    cursor: pointer;
}
.checkbox-option input[type="checkbox"]:checked + label span {
    background: url('../images/login/checkbox_checked.png') no-repeat;
}
.checkbox-option label {
	font-size: 12px;
	font-weight: @weight-regular;
	line-height: 20px;
	color: @color-white60;
	cursor: pointer;
}




.btn-log,
.btn-reg {
	width: 160px;
	height: 32px;
	background: #5aabcb;
	font-size: 14px;
	font-weight: @weight-regular;
	line-height: 16px;
	color: @color-white100;
	outline: 0;
	border: 0;
}
.btn-log:hover,
.btn-reg:hover {
	-webkit-transition: @ahover-anim-speed2;
  	transition: @ahover-anim-speed2;
  	background: #47BBE8;
}
.btn-log:focus,
.btn-log:active,
.btn-reg:focus,
.btn-reg:active {
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-send-holder {
	margin-top: 10px;
	margin-bottom: 25px;
}



.auth-holder {
	margin-bottom: -1px;
	padding: 0 15px;
}
.gp-auth-holder {
	height: 40px;
	background: #d73d32;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}
.fb-auth-holder {
	height: 40px;
	background: #44619d;
}
.gith-auth-holder {
	height: 40px;
	float: left;
	background: #707070;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}



.gp-auth-holder:hover {
	background: #FF1100;
    -webkit-transition: @ahover-anim-speed2;
  	transition: @ahover-anim-speed2;
}
.fb-auth-holder:hover {
	background: #356BDB;
    -webkit-transition: @ahover-anim-speed2;
  	transition: @ahover-anim-speed2;
}
.gith-auth-holder:hover {
	background: #8B8787;
    -webkit-transition: @ahover-anim-speed2;
  	transition: @ahover-anim-speed2;
}



a .gp-auth-holder,
a .fb-auth-holder,
a .gith-auth-holder,
a:hover .gp-auth-holder,
a:hover .fb-auth-holder,
a:hover .gith-auth-holder {
	font-size: 13px;
	font-weight: @weight-regular;
	line-height: 38px;
	color: @color-white100;
	text-decoration: none;
}


.gp-auth-holder img {
	padding-right: 5px;
}
.fb-auth-holder img {
	padding-right: 8px;
	margin-bottom: 3px;
}
.gith-auth-holder img {
	padding-right: 1px;
	margin-bottom: 3px;
	margin-left: -5px;
}


