/* Microtasks */
.microtasks {
    position: absolute;
    top: 0;
    right: 0;

    .microtask {
        &.alert {
            padding: 3px 5px;
            margin-bottom: 5px;
        }
        &.alert-success {
            opacity: 0.3;
        }
        &:hover {
            opacity: 0.95;
        }
    }
}