@border-radius : 5px;

/* ---------- FONT-WEIGHT */
@weight-regular: 400;
@weight-semibold: 600;
@weight-bold: 700;


/* ---------- COLOURS */
@color-blue80: #5aabcb;
@color-blue98: #68D2FB;
@color-red84: #d73d32;
@color-red100: #FF3426;
@color-green70: #77b300;
@color-green89: #A9E238;
@color-gray90: #e6e6e6;
@color-gray60: #9A9494;
@color-gray36: #5D5959;
@color-white100: #ffffff;
@color-white70: #acadb5;
@color-white60: #9e9e9e;


/* ---------- ANIMATIONS */
@href-animation02: all 0.2s ease;
@ahover-anim-speed2: all 0.2s ease;
