.sw-output-address-qrcode {
  canvas {
    background: #fff;
    padding: 20px;
    margin: 2em auto;
  }
  button {
    margin-bottom: 20px;
  }
}

.sw-output-address {
  .input-group-btn {
    background-color: @color-dark;

    .btn.active {
      background: lighten(@color-dark, 20%);
    }
  }
}
