.sw-output-address-qrcode {
  canvas {
    background: #fff;
    padding: 20px;
    margin: 2em auto;
  }
  button {
    margin-bottom: 20px;
  }
}

.sw-output-address {
  @bg-color: #1e1e1e;
  .input-group-btn {
    background-color: @bg-color;

    .btn.active {
      background: lighten(@bg-color, 20%);
    }
  }
}
