.sw-output-address-qrcode {
  canvas {
    background: #fff;
    padding: 20px;
    margin: 2em auto;
  }
  button {
    margin-bottom: 20px;
  }
}

.sw-output-address {
  .input-group-btn {
    background-color: #1e1e1e;
  }
}
