mixin layoutMenu(id, name)
  li(ui-sref-active="active")
    a(ui-sref="navbar.player({layout: '#{id}'})") #{name}

.row
  .pull-right
    ul.nav.nav-pills
      mixin layoutMenu('first', 'First')
      mixin layoutMenu('second', 'Second')
      mixin layoutMenu('third', 'Third')
.row
  a.btn.btn-xs.btn-default(ng-repeat="slide in timestampData", ng-click="jumpTo(slide.timestamp)")
    {{ slide.name }}

div(ng-if="layout == 'first'")
  include layouts/first
div(ng-if="layout == 'second'")
  include layouts/second
div(ng-if="layout == 'third'")
  include layouts/third
