extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/components/requirejs/require.js', data-main='/static/js/slider-deck')

block title
  title {{ title }} - #{title}

block content
  div(ng-init="$root.editMode=#{editMode}")
  div(ng-controller="SliderCtrl")
    plugins-loader(ng-repeat="mode in modes", namespace="mode", context="deck")
