extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/components/requirejs/require.js', data-main='/static/js/slider-deck')

block title
  title {{ title }} - #{title}

block content
  div(ng-controller="SliderCtrl")
    layout-loader(layout="'presentation-layout-std'", data="deck")
    
