extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/components/requirejs/require.js', data-main='/static/js/slider-deck')
  // Inspectlet
  script.
      window.__insp = window.__insp || [];
      __insp.push(['wid', 1974211314]);
      (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }

        if (window.attachEvent) {
          window.attachEvent('onload', __ldinsp);
        } else {
          window.addEventListener('load', __ldinsp, false);
        }
      })();

block title
  title {{ title }} - #{title}

block content
  div(ng-init="$root.editMode=#{editMode}")
  div(ng-controller="SliderCtrl")
    splitter
      section(class="col-sm-{{ splitter.size }}")
        plugins-loader(namespace="'deck.slides'", context="deckSlides")
        plugins-loader(ng-repeat="mode in modes", namespace="mode", context="deck")
      aside(class="col-sm-{{ 12 - splitter.size }}")
        sidebar-control(splitter="splitter")
        plugins-loader(namespace="'deck.sidebar'", context="deck")

