extends ../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js', data-main='/static/js/slider-deck-edit')

block title
  title {{ title }} - #{title}

block content
  div(ng-controller="SliderCtrl")
      layout-loader(layout="'presentation-layout-std'", data="deck", extra="editMode")
  .live-edit(ng-controller="SliderEditCtrl", ng-class="{ 'collapsed' : collapsed }")
    button.btn.btn-primary.btn-block.btn-xs(ng-click="collapsed = !collapsed") 
      span(ng-show="collapsed") show
      span(ng-show="!collapsed") hide
    yaml-editor(deck="deck")

    
