extends ../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='#{jsModulesPath}/slider-index.js')

block content
  div(ng-controller='IndexCtrl')
    .col-md-12
      h1
        | Xplatform
    .col-md-12
      h2
        | Zestawy slajdów
      .deckgrid(deckgrid, source="decks")
        .a-card
          a.col-md-11.deckgrid-index-element(ng-href="/decks/{{card._id}}")
            h4
              | {{card.title}}
 
