extends ../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js')
  script(src='/static/config.js')
  script(src='#{jsModulesPath}/slider-index.js')

block content
  
  div(ng-controller='IndexCtrl')
    .navbar.navbar-inverse
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.index-xplatform-header
          span.glyphicon.glyphicon-th-large.index-xplatform-logo
          | &nbsp;Xplatform
      .navbar-collapse.navbar-inverse-collapse.collapse(style="height: 1px")
        form.navbar-form.navbar-left.index-form-search
          input.form-control.col-md-8.index-input-search(type="text", ng-model="searchText")
          span.glyphicon.glyphicon-search.index-glyph-search
        ul.nav.navbar-nav.navbar-right
          li
            img(gravatar-src="user.email", gravatar-size="50")
          li
            a.ng-cloak
              | {{user.name}}
          li
            a(href="/logout")
              | Logout


    .col-md-12
      h2.deckgrid-index-section-header
        span.glyphicon.glyphicon-th-list.deckgrid-index-section-logo
        | Zestawy slajdów
      .deckgrid.deckgrid-index-grid.ng-cloak(deckgrid, source="decksToDisplay")
        .a-card
          div.col-md-11.deckgrid-index-element
            a.col-md-12.deckgrid-index-href(ng-href="/decks/{{card._id}}")
            h4
              | {{card.title}}
            button.btn.btn-link.deckgrid-index-element-star(ng-click="mother.star($event, card)")
              span.glyphicon.glyphicon-star.pull-right(ng-click)
            h5.text-success.deckgrid-index-element-counter
              | 
 
