extends ../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='#{jsModulesPath}/slider-index.js')

block content
  
  div(ng-controller='IndexCtrl')
    .navbar.navbar-inverse
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand
          | Xplatform
      .navbar-collapse.navbar-inverse-collapse.collapse(style="height: 1px")
        form.navbar-form.navbar-left
          input.form-control.col-md-8(type="text", placeholder="Search", ng-model="searchText")
        ul.nav.navbar-nav.navbar-right
          li
            a.ng-cloak
              | {{username}}
          li
            a(href="/logout")
              | Logout

    .col-md-12
      h2
        | Zestawy slajdów
      .deckgrid.ng-cloak(deckgrid, source="decksToDisplay")
        .a-card
          a.col-md-11.deckgrid-index-element(ng-href="/decks/{{card._id}}")
            h4
              | {{card.title}}
 
