extends ../layouts/main


block content
    each deck in decks
        h3: a(href="/slides/#{deck._id}") #{deck.title}
    else
        h2
          | No slides created yet. Head to 
          a(href="/admin/") Admin area
          | .