extends ../layouts/main

append scripts
  script.
    window.slideId = "#{slide}";
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='#{jsModulesPath}/slider-slide.js')

block content
  div(ng-init="$root.editMode=#{editMode}")
  .container-fluid(ng-controller="SlideCtrl")
    .row
      .col-lg-12
        plugins-loader(ng-repeat="mode in modes", namespace="mode.namespace", context="slide.content", no-refresh="!mode.refresh")
