extends ../layouts/main

append scripts
  script.
    window.slideId = "#{slide}";
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='#{jsModulesPath}/slider-slide.js?v=#{cacheBustingVersion}')

block content
  div(ng-init="$root.editMode=#{editMode}")
  .container-fluid.full-height(ng-controller="SlideCtrl")
    .row.full-height
      .col-lg-12.full-height
        plugins-loader(ng-repeat="mode in modes", namespace="mode", context="slide.content")
