extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
    window.slideId = "#{slide}";
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='/static/js/slider-slide.js')
  // Inspectlet
  script.
      window.__insp = window.__insp || [];
      __insp.push(['wid', 1974211314]);
      (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }

        if (window.attachEvent) {
          window.attachEvent('onload', __ldinsp);
        } else {
          window.addEventListener('load', __ldinsp, false);
        }
      })();

block content
  div(ng-init="$root.editMode=#{editMode}")
  .container-fluid(ng-controller="SlideCtrl")
    .row
      .col-lg-12
        plugins-loader(ng-repeat="mode in modes", namespace="mode.namespace", context="slide", no-refresh="!mode.refresh")
