extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/components/requirejs/require.js', data-main='/static/js/slider-trainer')

block content
  div(ng-controller="TrainerCtrl")
    plugins-loader(namespace="'trainer'", context="slide")