h1 Performance Test

button.btn.btn-primary(ng-click="startTest()")
  | Start Test

button.btn.btn-danger(ng-click="stopTest()")
  | Stop Test

button.btn.btn-info(ng-click="sendResults()")
  | Send Results

hr
label Test Text
textarea.form-control(
  rows="100"
  ng-model="testText"
)
