.xplatform-navbar {
    background-color: #252525;
    border-radius: 0px;
    border-width: 0px;
    margin-bottom: 0px;
    padding: 0 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #cecece;
}
.nav > li > a {
   padding: 15px 2px;
}
.navbar-center{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;

    .nav-title {
        color: #5aabcb;
    }
}
.navbar-brand {
  float: none;
}


.input-search {
    float: none;
    margin-top: 13px;
    color: #656464;
}
.input-search input {
    background: transparent;
    width: 250px;
    height: 30px; 
    font-size: 14px; 
    font-style: italic;
    line-height: 20px; 
    color: #9C9696;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #656464;
}
.input-search input:focus {
    outline: 0;
    font-style: normal;
}
.ico-triangle {
    position: relative;
    top: 11px;
}
.ico-search {
    padding-right: 5px;
}


/* WebKit and Blink (Safari, Google Chrome, Opera 15+)  */
.input-search::-webkit-input-placeholder {
    color: #9C9696;
    opacity: 1;
}
/* Mozilla Firefox 19+ */
.input-search::-moz-placeholder {
    color: #9C9696;
    opacity: 1;
}
/* Mozilla Firefox 4 to 18 */
.input-search:-moz-placeholder {
    color: #9C9696;
    opacity: 1;
}
/* Internet Explorer 10  */
.input-search:-ms-input-placeholder {
    color: #9C9696;
}


.badge-notification {
    background: #de0303;
    padding: 2px 4px;
    position: relative;
    top: -7px;
    left: -7px;
    font-size: 10px;
}
.avatar-holder {
    border: 1px solid #5b5b5b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 12px 0px;
}



ul.nav.navbar-nav.navbar-right .dropdown {
    cursor: pointer;
    margin: 0 12px;
}

ul.nav.navbar-nav.navbar-right .dropdown .glyphicon {
    padding: 15px 0;
    color: #5aabcb;
    font-size: 18px;
}



.nav-title {
   font-size: 18px;
   color: #cecece;
   position: relative;
   top: 13px;
}
