.full-height(ng-if="historyId")
  input(type="number", placeholder="speed", ng-model="state.rate")
  input(type="number", placeholder="position", ng-model="state.currentSecond")
  button.btn.btn-xs(ng-click="state.isPlaying = !state.isPlaying")
    span.fa.fa-fw.fa-pause(ng-show="state.isPlaying")
    span.fa.fa-fw.fa-play(ng-show="!state.isPlaying")
  dm-xplayer-ticker(state='state')
  dm-xplayer-timeline(recording='recording', state='state', annotations='annotations', ng-click="move($event)")
  dm-xplayer(recording='recording', state='state', annotations='annotations')
