extends ../layouts/main

block content
    .container
        .login-holder
            form(action="/auth/login", method="post")
                .row.auth-holder
                
                    .col-md-12
                        .login-header
                            | Log in
                            span.login-switch.pull-right
                                a(href="/registration") 
                                    | Register
                    .col-md-12
                        if error
                            .alert.alert-danger #{error}
                        .form-group
                            .ico-holder
                                img.ico-sub.ico-user(src='/static/images/login/ico_user.png')
                            input.form-control.form-login(type="email", name="email", placeholder="e-mail", autofocus)

                        .form-group
                            .ico-holder
                                img.ico-sub.ico-password(src='/static/images/login/ico_password.png')
                            input.form-control.form-login(type="password", name="password", placeholder="hasło")
                        .form-group
                            button.btn.btn-log.pull-right(type="submit")
                                | Log In

                .row
                    .auth-holder.col-md-12
                        a(href="/auth/google")
                            .gp-auth-holder.col-xs-4
                                img(src='/static/images/login/ico_googleplus.png')
                        a(href="/auth/facebook")
                            .fb-auth-holder.col-xs-4
                                img(src='/static/images/login/ico_facebook.png')
                        a(href="/auth/github")
                            .gith-auth-holder.col-xs-4
                                img(src='/static/images/login/ico_github.png')
