.message {
    font-size: 13px;
    line-height: 22px;
    color: #3d3c40;

    border-top: 1px solid transparent;
    position: relative;
    word-wrap: break-word;
    clear: both;
    -webkit-transitionDISABLED: background .5s ease-out;
    -moz-transitionDISABLED: background .5s ease-out;
    -o-transitionDISABLED: background .5s ease-out;
    transitionDISABLED: background .5s ease-out;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.message .member_image {
    top: 3px;
    left: 0;
    float: left;
    -moz-opacity: .8;
    -khtml-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
    -ms-filter: alpha(opacity=80);
    filter: alpha(opacity=80);
    -webkit-transitionDISABLED: opacity .1s ease-out;
    -moz-transitionDISABLED: opacity .1s ease-out;
    -o-transitionDISABLED: opacity .1s ease-out;
    transitionDISABLED: opacity .1s ease-out;
    text-align: center;
}

.message .message_sender {
    font-weight: 900;
    padding-right: .25rem;
    color: #3d3c40 !important;
    margin-left: 0;
    font-style: normal;
}

.message .message_content {
    color: #fff;
    margin-top: -1px;
    display: block;
    min-height: 1rem;
}
