extends ../layouts/main

append scripts
    script.
        window.slideId = "#{slide}";
    +loadModule('dm-slider/slider-slide')

block content
    .full-height(ng-init="$root.modes.isEditMode=#{editMode}")
        div(ng-init="$root.modes.isSliderMode=true")
        .col-xs-12.full-height(ng-controller="SlideCtrl")
          .row.full-height
              dm-recorder-context(recorder='recorderSlide')
                .dm-slide-left(ng-class="{'col-xs-9' : slide.content.sidebar, 'col-xs-12': !slide.content.sidebar }")
                    plugins-loader(namespace="'slide'", context="slide.content", path='.', recorder='recorderSlide')
                    plugins-loader(ng-if="modes.isEditMode", namespace="'slide.edit'", context="slide.content", path='.', recorder='recorderSlide')
                .col-xs-offset-9.col-xs-3.dm-slide-panel(ng-if="slide.content.sidebar")
                    plugins-loader.full-height(namespace="'slide'", context="slide.content.sidebar", path='.', recorder='recorderSlide')
                    plugins-loader.full-height(namespace="'slide.sidebar'", context="slide.content", path='.', recorder='recorderSlide')

