extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/jspm_packages/system.js?v=#{cacheBusingVersion}')
  script(src='/static/jspm.config.js?v=#{cacheBusingVersion}')
  script.
    System.import('dm-slider/slider-trainer#{cacheBustingVersion}').then(function(){}, function(err){
      throw err;
    });

block content
  div(ng-controller="TrainerCtrl")
    .alert.alert-danger.ng-cloak(ng-if="isAuthorized === false")
      img(ng-src="http://i.imgur.com/OfJELqG.gif", width="50%")
      h1 Leave now and never come back!
    plugins-loader(ng-show="isAuthorized", namespace="'trainer'", context="deck", path='.')
    plugins-loader(ng-show="isAuthorized", namespace="'trainer.deck'", context="deck", path='.')
