extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/components/requirejs/require.js')
  script(src='/static/config.js?v=#{cacheBustingVersion}')
  script(src='#{jsModulesPath}/dm-slider/slider-trainer#{cacheBustingVersion}.js')

block content
  div(ng-controller="TrainerCtrl")
    .alert.alert-danger.ng-cloak(ng-if="isAuthorized === false")
      img(ng-src="http://i.imgur.com/OfJELqG.gif", width="50%")
      h1 Leave now and never come back!
    plugins-loader(ng-show="isAuthorized", namespace="'trainer'", context="deck", path='')
    plugins-loader(ng-show="isAuthorized", namespace="'trainer.deck'", context="deck", path='')
