.dm-saves {
    .save-item,
    button {
        border-radius: 0;
    }

    .save-item .save-delete {
        display: none;    
    }

    .save-item:hover .save-delete {
        display: block;
    }
}

