.bottom-bar  {
  position: relative;
  z-index: 13;
  background-color: #1f1f1f;

  &.zen-mode {
    z-index: 25;
  }
}


.dm-timeline-button {
    float: left;
    padding: 2px;
    width: 55px;
    height: 21px;

    // color: rgb(86,171,205);
    .text-special;

    input {
      margin: 0;
      padding: 2px;
      position: relative;
      top: -5px;
    }
}

.dm-timeline-wave {
    float: left;
    position: relative;
    height: 100%;
}

