.dm-table-container {
    padding-left: 25px;
    padding-right: 25px;
}

table.table.dm-table {
    margin-top: 15px;
    tr th {
        border: 0px;
        font-weight: normal;
        font-size: 12px;
        color: rgb(60,60,60);
    }

    tr td {
        border-top-width: 0px;
        color: rgb(180,180,180);
        border-bottom: solid 1px rgb(40,40,40);
        height: 55px;
        
        > div, > p {
            padding-top: 10px;
            cursor: pointer;
            margin: 0px;
        }
    }

    tr td .dm-table-blue {
        color: #5aabcb;
    }

    tr td .dm-table-blue:hover {
        text-decoration: underline;
    }

    tr td .dm-table-green {
        color: rgb(133,186,57);
    }

    tr td .dm-table-gray {
        color: #5b5b5b; 
    }

    tr td .dm-table-slides {
        float: right;
        margin: 0px 5% 0px 0px;
        span {
            margin: 0px 0px 0px 2px;
        }
    }
    
    tr td > a {
        padding-top: 10px;    
        display: block;
    }

    tr td.dm-table-avatars {
        > p, > div {
            padding-top: 5px;
            float: left;
            > img {
                width: 25px;
            }
            > span, > img {
                float: left;
                border: 1px solid #5b5b5b;
                color: #5b5b5b;
                border-radius: 2px;
                height: 25px;
                background-color: rgb(47,47,47);
                margin-left: 2px;
            }
            > span {
                font-size: 12px;
                text-align: right;
                font-weight: bold;
                min-width: 25px;
                padding: 4px 2px 0px 2px;
            }
        }
    }
}

.dm-cursor {
    cursor: pointer;
}
