.dm-admin-div {
    padding: 0px 5px 0px 5px;
    
    .panel {
        background-color: transparent;
    
        .panel-heading {
            padding: 0px;    
        }
    
        .panel-body {
            padding: 0px;
            max-height: 300px;
            overflow-y: scroll;
        }

        .panel-footer {
            padding: 0px;
            border-width: 0px;
            background-color: black;
        }
    }
    
    a {
        padding: 5px;
        font-size: 12px;
    }
    
    .input-group input {
        height: 25px;
    }

    .input-group button {
        height: 25px;
        padding: 0px 10px 0px 10px;
    }
}
