.dm-admin-div {
    padding: 0px 5px 0px 5px;
    
    .panel {
        background-color: transparent;
    
        .panel-heading {
            padding: 0px;    
        }
    
        .panel-body {
            padding: 0px;
            overflow-y: scroll;
        }

        .panel-footer {
            padding: 0px;
            border-width: 0px;
            background-color: black;
        }
    }
    
    a {
        padding: 5px;
        font-size: 12px;
    }
    
    .form-group {
        input {
            height: 25px;
            font-size: 12px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        button {
            height: 25px;
            padding: 0px 10px 0px 10px;
            font-size: 12px;
        }

        label {
            font-size: 12px;
            height: 25px;    
        }

        select {
            height: 25px;    
            font-size: 12px;
        }
        
        option {
            height: 25px;
        }
        
        textarea {
            font-size: 12px;    
        }
    }

}
