.dm-timeline-button {
    float: left;
    padding: 2px;
    width: 55px;
    // color: rgb(86,171,205);
    .text-special;

    input {
      margin: 0;
      padding: 2px;
      position: relative;
      top: -5px;
    }
}

.dm-timeline-wave {
    float: left;
    position: relative;
    height: 100%;
}

