extends layout

block content
  section.container-fluid.slider-edit(role='main')
    .row
      section.col-lg-7
        iframe(src="/slides-#{presentationFile}", width="100%")

      aside.col-lg-5
        .presentation-edit.editor(data-language="yaml")
append styles
  link(href="css/styles-edit.css", rel="stylesheet")
append scripts
  script.
    window.presentation = "#{presentationFile}";
  script(src="js/ace-builds/src-noconflict/ace.js")
  script(src="socket.io/socket.io.js")
  script(src="js/utils.js")
  script(src="js/edit.js")