extends layout

block content
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.text-muted(href='/')
        span.glyphicon.glyphicon-th-large
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.nav-slides
        li.active
          a(href='#slide1') Empty
      ul.nav.navbar-nav.navbar-right
        li
          a.trainers-mode(href="#", data-toggle="tooltip", data-placement="left", title="Trainer's mode")
            span.glyphicon.glyphicon-lock
  section.container-fluid(role='main')
    .row
      .col-lg-12
        iframe.main-slide(src='slide')
  aside.slide-controls
    a.btn.btn-success.slide-control.ctrl-slowmo(target="slowmo", data-toggle="tooltip", title="Show code in Slowmo.js")
      span.glyphicon.glyphicon-dashboard
    button.btn.btn-danger.slide-control.ctrl-proj(data-toggle="tooltip", title="Toggle projector mode")
      span.glyphicon.glyphicon-bullhorn
    br
    button.btn.btn-info.slide-control.ctrl-prev(data-toggle="tooltip", title="Previous")
      span.glyphicon.glyphicon-arrow-left
    button.btn.btn-info.slide-control.ctrl-next(data-toggle="tooltip", title="Next")
      span.glyphicon.glyphicon-arrow-right
  .modal.trainers-mode-confirm.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Trainer's mode
          .modal-body
            form(role="form")
              .form-group
                label Please provide trainer's password to access trainer's mode
                input.form-control.trainers-mode-password(type="password", placeholder="Trainer's mode password")
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Enter Trainer's Mode

append scripts
  script.
    window.presentation = "#{presentationFile}";
  script(src="socket.io/socket.io.js")
  script(src="js/js-yaml.min.js")
  script(src="js/jquery-ui-1.10.3.draggable.js")
  script(src="js/jquery.hotkeys.js")
  script(src="js/jquery.slimscroll.js")
  script(src="js/jquery.slimscroll.horizontal.js")
  script(src="js/utils.js")
  script(src="js/main.js")