.container-fluid
  .row
    h1 model.textForUser
    .col-xs-10.col-xs-offset-1.text-center
      form
        .form-group
          input.form-control(
            type="text"
            ng-model="model.path"
            value="model.path"
          )
        .form-group
          .row 
            .col-xs-offset-1.col-xs-5
              button.btn.btn-primary(
                  ng-click="model.submit(model.path)"
                )
                | OK
            .col-xs-5
              button.btn.btn-warning
                | Cancel