.sw-editor-tabs-modal {

  .col-xs-12.text-left {
    padding-top: 12px;
  }

	.remove-mode-title {
		padding-bottom: 12px;
    text-align: center;
	}

  input.form-control {
    color: black; 
    border-radius: 0;
  }

  .col-xs-12.buttons {
    padding: 0;
    
    .btn {
      width: 50%; 
      border-radius: 0;
    }
  }

}
