.sw-workspace-tab-container {
	height: 26px;
  border-bottom: 2px solid #0f0f0f;

	&.tabs-sidebar {
		z-index: 10;
		position: absolute; 
		top: 0px; 
		left: 0px; 
	}
}

.sw-tabs {
	position: relative;
	z-index: 1;
	height: calc(100% - 26px);
	overflow-y: auto;
}

/*   nic sie nie aplikuje z powyzszych klas do DOM-a :( 
     wiec przenioslem do zbiorowego lessa
     EDIT
     -zaimportowalem w slide-workspace.less, czy dziala?
*/